[2017-01-04 21:20] pouyakary opened #4 "I think you should clean up the Readme file..."

[2017-03-02 18:53] asparke2 opened #5 "All options not getting first column value when measure arg isn't "variable""

[2017-03-02 18:57] asparke2 commented on #5
If a measure argument is not "variable," when you change the value in the first option, all of the other options should change to use this same value.  This currently happens if you check then uncheck the "variable" box, but should happen whenever you change the value in the first option.

After this is fixed, you should not be able to have a different input for an argument unless the argument is

[2017-03-02 19:05] asparke2 commented on #5
Google doc 63. Create Prototype Building measure isn’t able to change weather file. This has always been an issue in OS app, but not on analysis spreadsheet, can’t remember for sure what 1x PAT did. See screenshots below. I made new PAT project chose San Francisco as default weather location then made the options for prototype measure with ClimateZone as a variable with three non San Francisco cli

[2017-03-02 19:34] asparke2 opened #6 "Chinese characters in Design Alternatives grid"
For some reason there are Chinese? characters in the Design Alternatives grid.  Screenshot from 2.0.4 in Windows.  Also, this only appears in the installed version, but not when I run the developer version from code.

![image](https://cloud.githubusercontent.com/assets/2009290/23523399/f8c82d54-ff43-11e6-9d03-5dffbbf31779.png)

[2017-03-02 19:43] asparke2 opened #7 "SQL doesn't copy to local results for prototype measure"
From @DavidGoldwasser

When I used the prototype measure in a workflow the Results (SQL file) fails to copy to local results. See screenshot below. The log message shows “vendor-93aa470504.js:24010 Invalid LOC header (bad signature)”

+larry.brackney@nrel.gov FYI, figured it was just using the Prototype measure in a design alternative that was causing the issue. +asparke2@gmail.com I assume this m

[2017-03-03 16:10] asparke2 commented on #7
Moving all tickets to https://github.com/NREL/OpenStudio/issues

[2017-03-03 16:10] #7 closed, assigned to asparke2

[2017-03-03 16:12] asparke2 commented on #6
Moving all tickets to https://github.com/NREL/OpenStudio/issues

[2017-03-03 16:12] #6 closed, assigned to kflemin

[2017-03-03 16:14] asparke2 commented on #5
Moving all tickets to https://github.com/NREL/OpenStudio/issues

[2017-03-03 16:14] #5 closed, assigned to evanweaver

[2017-03-03 16:15] asparke2 commented on #4
Moving all tickets to https://github.com/NREL/OpenStudio/issues

[2017-03-03 16:15] #4 closed, assigned to nobody

[2018-01-08 20:42] kflemin opened #11 "Incomplete published EDAPT Schema (Refrigeration)"
_From @chrisbalbach on February 24, 2016 20:25_

Using PAT v1.10.0 (Win 64Bit), a datapoint was created from an external file. The seed model refrigeration condensing unit fan power object was not assigned any cost attribution elements. The datapoint .osm represented reduced fan power associated with ECM fans installed on refrigeration equipment outdoor condensing units. The datapoint osm file was

[2018-01-08 20:51] kflemin opened #12 "Clean up OpenStudio-PAT repo README"
_From @asparke2 on March 3, 2017 16:15_

requested by @pmkary

_Copied from original issue: NREL/OpenStudio#2498_

[2018-01-08 20:51] kflemin commented on #12
_From @asparke2 on March 3, 2017 16:17_

Agree.  At a minimum, we should include:

1. What the repo is
2. Where to report issues (OpenStudio issues)
3. Where the build instructions live (Wiki)

[2018-01-08 20:51] kflemin commented on #12
_From @macumber on March 6, 2017 17:11_

@asparke2 do you really want this assigned to you?  should be assigned to @evanweaver or @kflemin ?

[2018-01-08 20:51] kflemin commented on #12
_From @macumber on June 28, 2017 15:53_

@asparke2 is this complete?  can we close it?

[2018-01-08 20:51] kflemin commented on #12
_From @asparke2 on June 28, 2017 16:30_

No, it is still the electron boilerplate:

https://github.com/NREL/openstudio-pat

[2018-01-08 20:53] kflemin opened #13 "Show units & descriptions for arguments in PAT"
_From @asparke2 on March 3, 2017 20:6_

PAT 2.X "Project Measures & Options" tab doesn't show units or descriptions for measure arguments.  These need to be included.  Units are particularly important for clarity.

Argument units in PAT 1.X.  Could append to argument name in () or add a units column.
![image](https://cloud.githubusercontent.com/assets/2009290/23567042/b6b62d8e-0011-11e7-8c19-5faa5

[2018-01-08 20:53] kflemin commented on #13
_From @shorowit on March 29, 2017 20:4_

+1

[2018-01-08 20:53] kflemin commented on #13
_From @DavidGoldwasser on March 31, 2017 16:5_

@evanweaver I see units in some cases in 2.1.0 installer, but it looks like it doesn't like special characters. Look in image below how 'ft' is fine, but 'ft^2' is not. (look in total_bldg_floor_area measure.rb)

![screen shot 2017-03-31 at 10 01 23 am](https://cloud.githubusercontent.com/assets/4857055/24558743/7bad8cf2-15f9-11e7-83fb-b7b5c6c720ae.p

[2018-01-08 20:53] kflemin commented on #13
_From @DavidGoldwasser on March 31, 2017 16:20_

After going through it with @evanweaver looks like issue occurs when data is written to 'pat.json'. Looks like this

[code]

If I manually change the unit string to 'ft^2' in this file the GUI displays it fine. The '^' seems to be issue, as 'ft2' is fine if that is used in measure.rb and measure.xml instead. I assume there could be other offending a

[2018-01-08 20:53] kflemin commented on #13
_From @asparke2 on June 5, 2017 20:2_

tested and closed using developer setup

[2018-01-08 20:53] kflemin commented on #13
_From @shorowit on August 10, 2017 15:29_

@evanweaver As far as I can tell, argument descriptions only show up in manual mode, not algorithmic mode. This makes it difficult to convey information to our PAT users.

[2018-01-08 20:54] kflemin opened #14 "can't delete datapoints from Run or Reports tabs"
_From @DavidGoldwasser on March 21, 2017 15:49_

If I delete a datapiont from the Design Alternatives tab, it still show up on results tab and can't be removed.
[code]

_Copied from original issue: NREL/OpenStudio#2532_

[2018-01-08 20:54] kflemin commented on #14
Manual or Algorithmic?

If manual, each datapoint corresponds to a design alternative (so they won't totally go away from the results tab, but some of the data may be deleted).

How are you trying to delete a datapoint exactly?

[2018-01-08 20:54] kflemin commented on #14
_From @DavidGoldwasser on March 30, 2017 16:23_

This was in manual. and I deleted the datapoints from the Design Alternatives tab and it still shows on the run tab. Maybe that is as designed, but seems like it will clutter up project. This also affects the reports tab. @asparke2 will for most reports this is just cosmetic, but will it have bigger impact on EDAPT? or is it fine if extra datapoints

[2018-01-08 20:54] kflemin commented on #14
_From @asparke2 on April 19, 2017 15:52_

I think the current behavior is exactly what I described to @kflemin...but unfortunately I think that in this case I got it wrong.  There needs to be some way to delete results from design alternatives that no longer exist from the run tab.  Have realized this after getting some questions from EDAPT users.

[2018-01-08 20:55] kflemin opened #15 "Visualize should be defaulted to true for any selected outputs"
_From @ljbrackney on April 3, 2017 6:7_

The design as-is has me pick which outputs I want.  Then I get to tell the UI that I REALLY REALLY want them as outputs.  No seriously, make them outputs because I want to see them.

_Copied from original issue: NREL/OpenStudio#2552_

[2018-01-08 20:55] kflemin commented on #15
added this feature in commit: https://github.com/NREL/OpenStudio-PAT/commit/5eb1ad9d203f0c8d926ce4ff9293502fc56e4ee8

should also work retroactively for existing projects.

[2018-01-08 20:56] kflemin commented on #15
@ljbrackney, can we close this?

[2018-01-08 20:56] kflemin opened #16 "Enable Scaling in PAT"
_From @ljbrackney on April 3, 2017 19:13_

Need tp enab;e ctrl/cmd +/- or mouse wheel to scale PAT.

_Copied from original issue: NREL/OpenStudio#2553_

[2018-01-08 20:57] kflemin opened #17 "Pre-run error checking in PAT for algorithmic mode"
_From @asparke2 on April 11, 2017 13:54_

Sometimes no simulations will run and there are no obvious errors for a user to diagnose the issue.  As we encounter combinations that cause failures, the should be added to this list so they can be addressed in the future.

Error-causing conditions:
1. Need at least 1 argument.  You can't set everything to Pivot to run a full factorial.
2. Need to fill in

[2018-01-08 20:58] kflemin opened #18 "PAT duplicate measure names don't increment"
_From @shorowit on April 13, 2017 15:36_

When you duplicate a measure Foo in PAT 2.1.0, you get "Foo 2". If you then duplicate "Foo 2", you get "Foo 2 2" instead of "Foo 3". It does work correctly if you duplicate measure "Foo" twice.

@asparke2

_Copied from original issue: NREL/OpenStudio#2570_

[2018-01-08 20:58] kflemin commented on #18
_From @shorowit on April 13, 2017 15:44_

I should clarify that this is in algorithmic mode.

[2018-01-08 20:58] kflemin commented on #18
_From @DavidGoldwasser on April 14, 2017 5:18_

Behavior is same in manual model

[2018-01-08 20:58] kflemin commented on #18
_From @rHorsey on July 10, 2017 20:52_

Confirmed fixed in 2.2.0

[2018-01-08 20:58] kflemin commented on #18
_From @shorowit on August 18, 2017 12:0_

This is not fixed. Screenshot from PAT 2.2.1:
![image](https://user-images.githubusercontent.com/5861765/29458059-7f20466e-83da-11e7-81c4-13ee946c9bf0.png)

[2018-01-08 20:59] kflemin opened #19 "PAT ability to rename measures in algorithmic mode"
_From @shorowit on April 13, 2017 16:4_

In PAT, if you have a measure Foo and duplicate it in algorithmic mode, you get Foo 2, Foo 3, etc. It'd be really helpful for ResStock if you could rename the measure display names in the interface to keep track of things.

@asparke2

_Copied from original issue: NREL/OpenStudio#2571_

[2018-01-08 20:59] kflemin commented on #19
_From @ljbrackney on April 13, 2017 16:27_

+1 for renaming capability.

On Apr 13, 2017, at 9:06 AM, Scott Horowitz <notifications@github.com<mailto:notifications@github.com>> wrote:

In PAT, if you have a measure Foo and duplicate it in algorithmic mode, you get Foo 2, Foo 3, etc. It'd be really helpful for ResStock if you could rename the measure display names in the interface to keep track of

[2018-01-08 20:59] kflemin commented on #19
_From @shorowit on June 8, 2017 16:3_

Screenshot of issue:

![image](https://user-images.githubusercontent.com/5861765/26938526-ae9d0e9e-4c31-11e7-8bd4-7fe48d4fcd00.png)

[2018-01-08 21:00] kflemin opened #20 "About ParametricAnalysisTool doesn't show proper version number"
_From @DavidGoldwasser on April 20, 2017 14:50_

just shows 0.0.1.

For reference, here is what OS app looks like.

![screen shot 2017-04-20 at 8 49 26 am](https://cloud.githubusercontent.com/assets/4857055/25236913/61eb21a0-25a6-11e7-94c4-3562dbdc4b64.png)

_Copied from original issue: NREL/OpenStudio#2581_

[2018-01-08 21:00] kflemin commented on #20
_From @DavidGoldwasser on July 10, 2017 20:37_

I thought I had seen this fixed in later 2.1.x, but It is still valid in the 2.2.0 (pre) installer.

[2018-01-08 21:00] kflemin commented on #20
_From @DavidGoldwasser on September 14, 2017 15:59_

@evanweaver this is still valid in 2.2.2

[2018-01-08 21:00] kflemin opened #21 "PAT 2.1.0 bug when switching discrete -> integer_sequence"
_From @shorowit on April 20, 2017 15:1_

All of the discrete textboxes still remain when switching to integer_sequence. Screenshot:

![patbug](https://cloud.githubusercontent.com/assets/5861765/25237423/e06202aa-25a7-11e7-89db-f9b00dedad12.png)

**Workaround**
Click the `X` button to delete the discrete textboxes.

_Copied from original issue: NREL/OpenStudio#2582_

[2018-01-08 21:00] kflemin commented on #21
_From @shorowit on April 20, 2017 15:3_

And if you delete all the discrete values, the "+" button still remains.

[2018-01-08 21:01] kflemin opened #22 "PAT 2.1 runs on wrong target"
_From @shorowit on April 24, 2017 18:55_

1. Run an analysis where you are pointing to, e.g., the NREL24b server.
2. Create a new project, which defaults to Run Locally in the interface.
3. Run this new analysis and note that the runs end up on NREL24b instead of being run locally.

_Copied from original issue: NREL/OpenStudio#2587_

[2018-01-08 21:02] kflemin opened #23 "Duplicate discrete variables cause server failures"
_From @ljbrackney on April 24, 2017 19:1_

Submitting a project with duplicate discrete values causes an untrapped failure on OS Server in the DOE algorithm - and likely others.  @brianlball suggests this is easiest to trap on the GUI client side of the house.  This would be a fairly stupid user error, but it should be trapped if at all possible.

_Copied from original issue: NREL/OpenStudio#2588_

[2018-01-08 21:03] kflemin opened #24 "PAT Results Tab Shows Datapoint Errors in Algorithm Mode"
_From @ljbrackney on April 25, 2017 18:55_

PAT currently displays datapoint errors on the results tab:

_The OpenStudio Results measure was not included in DOE Autogenerated 1, cannot show results._

Instead it should state that algorithm results aren't available on the reports tab and should be obtained from the server - perhaps with a URL link.

_Copied from original issue: NREL/OpenStudio#2590

[2018-01-08 21:03] kflemin opened #25 "PAT extraneous algorithm setting for Diagonal"
_From @shorowit on May 4, 2017 20:40_

PAT 2.0 includes an algorithm setting for Number of Samples when using Diagonal sampling, but this value is not actually used. Rather, the number of datapoints is defined by the pivot variables. As this would be confusing to a user, the Number of Samples textbox ought to be removed from the interface.

Not sure if this is true of any algorithms other than Dia

[2018-01-08 21:04] kflemin opened #26 "PAT does not filter incompatible (newer) AMIs"
_From @ljbrackney on May 6, 2017 16:28_

PAT 2.1.0 shows 2.1.1 AMIs in the choice list for configuring an AWS Cluster.  Need filtering logic in GUI.

_Copied from original issue: NREL/OpenStudio#2599_

[2018-01-08 21:04] kflemin commented on #26
_From @rHorsey on May 11, 2017 1:7_

@ljbrackney I'm not sure we actually need to turn this off. Maybe just gray out the text and say 'Not recommended in this version of PAT'? At this point the OSA format isn't changing, save for bug fixes, and this offers a quick and easy way to test code against new OS versions? Unless you've tried this and it's failed, in which case disregard the above as hubri

[2018-01-08 21:05] kflemin opened #27 "Measures copied into workflow should have tests/output directory removed"
_From @DavidGoldwasser on June 1, 2017 16:47_

This will only hit anyone writing or testing measures and then adding those measures to a project. This mainly causes issues with reporting measures that have very large test outputs (simulation results).

_Copied from original issue: NREL/OpenStudio#2627_

[2018-01-08 21:06] kflemin opened #28 "PAT 2.1.1 copy measure creates invalid measure"
_From @shorowit on June 8, 2017 18:14_

Initial state:
![image](https://user-images.githubusercontent.com/5861765/26943699-b5776338-4c43-11e7-8850-c084c68fd8dc.png)

Click Copy on Apply Upgrade measure:
![image](https://user-images.githubusercontent.com/5861765/26943711-beefd67a-4c43-11e7-8f71-040efde912c2.png)

Try to Add to the project (Error - not unique name):
![image](https://user-images.gith

[2018-01-08 21:06] kflemin commented on #28
_From @macumber on June 19, 2017 16:47_

@shorowit i cannot replicate this in my current build

We will put out a new package early this week, can you try to reproduce with that?

[2018-01-08 21:06] kflemin commented on #28
_From @shorowit on June 22, 2017 14:42_

@macumber I can reproduce the issue in PAT 2.1.2.

[2018-01-08 21:06] kflemin commented on #28
_From @shorowit on June 27, 2017 15:58_

Could this have to do with the fact that my measure is called `ApplyUpgrade` and the first copy ends up called `apply_upgrade`? I mean these are the measure directory names.

[2018-01-08 21:06] kflemin commented on #28
_From @evanweaver on July 18, 2017 21:8_

@shorowit have you noticed this in 2.2.0?

[2018-01-08 21:06] kflemin commented on #28
_From @shorowit on July 26, 2017 18:49_

@evanweaver Yes, I can still reproduce it in 2.2.0.

[2018-01-08 21:06] kflemin commented on #28
_From @shorowit on September 14, 2017 20:27_

@evanweaver Still an issue in your latest 2.2.2 build. Here's the debug window:

![image](https://user-images.githubusercontent.com/5861765/30454234-daa73f4a-9958-11e7-9247-46fb3ce79a9d.png)

[2018-01-08 21:11] kflemin opened #29 "Show Stdout output from E+ in PAT in real time"
_From @jmarrec on June 26, 2017 14:3_

On my macOS, with PAT 2.1.2, I cannot see the output from E+ sims in PAT, which is annoying since I don't know if the simulation is going well or just crashed.

_Copied from original issue: NREL/OpenStudio#2672_

[2018-01-08 21:12] kflemin opened #30 "Allow custom analysis name different than PAT project name"
_From @DavidGoldwasser on June 27, 2017 16:45_

This is similar to "Analysis Name" in the Run setup section of the analysis spreadsheet. Both on local and cloud runs i may have 10-15 runs with the same name, and it is hard to keep track of them. It isn't reasonable to keep doing save as locally on PAT projects for this. I typically appended some common name with what is unique about that run. When

[2018-01-08 21:12] kflemin commented on #30
_From @shorowit on June 28, 2017 17:20_

+1

[2018-01-08 21:12] #15 closed, assigned to kflemin

[2018-01-08 21:13] kflemin opened #31 "Results Icon in PAT's Run Tab Not Populating Correctly"
_From @ljbrackney on June 27, 2017 17:47_

Observed in build with PAT SHA: 23608c48727821d8ac530e142af60ca78d1bbda6

Ran large project on 24a.  Project ran fine w/ point truncation in PAT.  Even when downloading data points and models, the results icon remains grayed out.  The HTML files in the zip are fine.

![results](https://user-images.githubusercontent.com/2230150/27601955-e95a5746-5b25-11e7-

[2018-01-08 21:14] kflemin opened #32 "PAT order of design alternatives isn't preserved"
_From @jmarrec on June 28, 2017 7:26_

I define the order of my DA because I have good reasons to on the Design Alternatives Tab.
On the Run tab, it's a different order.
On the Results Summary table, it's the order of the Run Tab, but in reversed..

The order defined on the DA Tab should be preserved.

_Copied from original issue: NREL/OpenStudio#2682_

[2018-01-08 21:14] kflemin commented on #32
_From @jmarrec on June 28, 2017 8:51_

So I understand jack squat about electron app development nor debugging nor javascript.

But I was able to test a couple of things.

Project.designAlternatives is the order I have defined and would like to keep.

Project.datapoints is another order (the one in the Run Tab).

On the Summary Results table, Project.datapoints is passed to the webview as $scope.r

[2018-01-08 21:15] kflemin commented on #32
_From @jmarrec on June 28, 2017 9:28_

Ok I think I understand what's going on, and can propose steps to retrace the behavior.

Create two design alternatives, Alt1 and Alt2, in this order.

Go to the run tab. [runController.js#L199](https://github.com/NREL/OpenStudio-PAT/blob/develop/app/app/run/runController.js#L199), setUpDatapoints is called.

It doesn't find any datapoints currently, so it go

[2018-01-08 21:15] kflemin opened #33 "PAT can show incorrect # of datapoints"
_From @shorowit on June 28, 2017 23:0_

Running 20k simulations via algorithmic mode in PAT 2.1.2.

When PAT refreshes, it sometimes shows a total # of datapoints that is greater than or less than 20k.

![image](https://user-images.githubusercontent.com/5861765/27664156-291f2552-5c23-11e7-8573-483dbb011bc2.png)

![image](https://user-images.githubusercontent.com/5861765/27664157-2c6317b4-5c23-11e7

[2018-01-08 21:16] kflemin opened #34 "PAT improvements for Algorithmic projects"
_From @shorowit on June 29, 2017 16:18_

When you have a project in Algorithmic mode, which therefore only runs on the cloud, there are some annoyances that occur when you open the project:
- The run screen dropdown defaults to "Run Locally". Ideally, you would see the exact same information on the Run screen that you saw when you closed PAT and saved your project.
- The local server automatically

[2018-01-08 21:16] kflemin commented on #34
_From @ljbrackney on June 29, 2017 16:25_

+1
+0 - There are use cases where you want to "pre-flight" check analyses locally before committing to the cloud
+1

[2018-01-08 21:16] kflemin commented on #34
_From @shorowit on June 29, 2017 16:41_

@ljbrackney Not sure I follow your second point. PAT currently only allows running algorithmic mode analyses on the cloud, doesn't it?

[2018-01-08 21:16] kflemin commented on #34
_From @ljbrackney on June 29, 2017 19:57_

PAT was intended to allow tests of the Seed and measures in manual mode prior to switching to algorithm mode.  I have projects where I've configured both and jump between them for testing.

[2018-01-08 21:16] kflemin commented on #34
_From @shorowit on June 29, 2017 20:22_

Sure. Presumably PAT would start the local server if you switch from algorithmic mode to manual mode then. And stop it when you switch back.

[2018-01-08 21:16] kflemin commented on #34
_From @ljbrackney on June 29, 2017 20:26_

That was not part of the original design spec for PAT.  The assumption was that local server always starts.  Implementing the behavior you describe would be problematic.

[2018-01-08 21:18] kflemin opened #35 "Issues with PAT2.1.2"
_From @snlavu on July 6, 2017 14:57_

I am running into a couple of issues with the new PAT and looking for a solution. Currently using a v2.1.2 with instructions to model via PAT from https://github.com/NREL/OpenStudio/re...

I have posted this earlier on unmet hours and have reduced the issues down to

First off, the simulations take really long to run- I am running locally but the parent file r

[2018-01-08 21:18] kflemin commented on #35
_From @evanweaver on July 18, 2017 20:57_

@snlavu can you email us a PAT project which reproduces issue #2?

[2018-01-08 21:19] kflemin opened #36 "Measures that download components from BCL not running properly in local PAT runs"
_From @DavidGoldwasser on July 21, 2017 19:0_

I'm using "GetSiteFromBuildingComponentLibrary" in for a porject. This is similar to "Change Building Location" but instead of pointing to epw, design day and state file it takes a zip code and gets site component from BCL.

I have tested this in PAT before on an cloud based manual run (NREL24b) and re-confirmed today that it still works fine.

The sc

[2018-01-08 21:19] kflemin commented on #36
_From @ljbrackney on August 30, 2017 14:14_

Can we close this?  Downloads appear to be working.

[2018-01-08 21:19] kflemin commented on #36
_From @DavidGoldwasser on August 31, 2017 6:36_

@ljbrackney This wasn't a BCL outage, it was about downloading and using components within a measure. Only made it major because of Get Weather for from zip code used for some model articulation projects. Since it works fine on server, I'm fine having this fixed sometime after 2.3.0.

[2018-01-08 21:21] kflemin opened #37 "PAT analysis name cannot contain . or continues to loop forever"
_From @kpelckmans on August 27, 2017 11:40_

When one of the analysis contains a ., following error occurs
(id=59a2aa48b16ce714fb9dd0d0) (queue=simulations) FAILED (0 prior attempts) with Mongo::Error::OperationFailure: The dotted field 'Win 1.5 100P' in 'results.Win 1.5 100P' is not valid for storage. (57)

2 things can be enhanced:
1) do not restart the analysis when this problem occurs and show

[2018-01-08 21:21] kflemin commented on #37
_From @macumber on August 28, 2017 16:4_

Thanks for the great report @kpelckmans !

[2018-01-08 21:21] kflemin commented on #37
_From @jmarrec on September 20, 2017 9:23_

Same issue as I reported here: https://github.com/NREL/OpenStudio/issues/2673, and somewhat linked to https://github.com/NREL/OpenStudio/issues/2671 as well

[2018-01-08 21:22] kflemin opened #38 "PAT double/integer bug"
_From @shorowit on August 31, 2017 13:58_

We defined a measure argument that's a double, but PAT shows up/down arrows and displays a tooltip as if it thinks it needs an integer:
![image](https://user-images.githubusercontent.com/5861765/29926870-d9fe29ce-8e21-11e7-8e55-fd4c0e645312.png)

It appears that the double value does get used correctly. But a PAT user in the private sector got confused by

[2018-01-08 21:23] kflemin opened #39 "PAT Updating measures doesn't preserve argument order"
_From @shorowit on September 1, 2017 17:38_

If I update a measure in PAT where I've inserted an argument at the top of the measure.rb, the argument appears at the end of the measure in PAT. If I want the argument to correctly appear at the top, I have to delete the measure from my project, re-add it, and then re-enter all of the argument values.

It may not sound too bad, but I have to update fou

[2018-01-08 21:24] kflemin opened #40 ""Download All" in PAT only downloads 150 datapoints"
_From @ejhw on September 7, 2017 19:37_

Truncation causes "Download All" to only download 150 datapoints instead of all of them.

_Copied from original issue: NREL/OpenStudio#2773_

[2018-01-08 21:24] kflemin commented on #40
_From @shorowit on September 7, 2017 21:41_

I just did another test run of 200 datapoints and ended up with 158 (?) datapoint directories in localResults. Also, I can confirm this bug occurs in the official PAT 2.2.1.

[2018-01-08 21:24] kflemin commented on #40
_From @rHorsey on September 13, 2017 16:9_

This isn't really a bug, it's a feature. The functionality that previously existed was unintended, and we're not sure how it worked at all. To do this responsibly is going to require a fair bit of effort and is moderately risky, due to the control logic surrounding that controller in PAT. @kflemin will start in on this once 2.3.0 is out and we have regul

[2018-01-08 21:25] kflemin opened #41 ""Could not set argument" should show visible error in GUI"
_From @DavidGoldwasser on October 2, 2017 20:2_

I hit this error in a workflow where I had full model as seed, and then had EE measures for both LPD reduction and night time lighting reduction. The arguments for the reduce night time lighting has a choice argument of all lighting defs in the model that are used by an instance. Using the seed model it can pick 'Office OpenOffice Lights Definition'

[2018-01-08 21:25] kflemin commented on #41
_From @DavidGoldwasser on October 2, 2017 20:16_

For reference. Here is zip of the project. There is a separate issue for the first two datapoints failing, this one is more about showing an error for the expected failure of the last datapoint.
https://github.com/NREL/OpenStudio-files/blob/master/Git%20Issue%20Files/issue2807.zip

@macumber, @kflemin, @asparke2 any thoughts on best solution. For n

[2018-01-08 21:29] kflemin opened #42 "Odd Summary Table behavior for EUI when design alternatives have negative value."
_From @DavidGoldwasser on October 21, 2017 18:57_

EUI's for datapoints

GSHP = -24.14
VRF = -23.51
Fain Coil = -20.42

Notice how the signs are reverse on the % vs. kBtu/ft^2 values for EUI

<img width="1680" alt="screen shot 2017-10-21 at 12 49 32 pm" src="https://user-images.githubusercontent.com/4857055/31855002-17cb3ea8-b65f-11e7-99a6-cb9cafb744bf.png">

_Copied from original issue: NREL/Open

[2018-01-08 21:29] kflemin commented on #42
_From @DavidGoldwasser on December 7, 2017 16:41_

@asparke2 I did quick test with a baseline with a positive EUI, and then both a negative and positive alternative. In both of those cases things are fine. Only an issue when the baseline has a negative EUI.

![screen shot 2017-12-07 at 9 29 03 am](https://user-images.githubusercontent.com/4857055/33726233-ae712d9e-db31-11e7-8c8c-d82f6b5994e7.png)

[2018-01-08 21:31] kflemin opened #43 "PAT manual analysis fails if no variables are setup"
_From @DavidGoldwasser on November 8, 2017 17:21_

I setup a PAT project where unique design alternatives were setup by skipping specific measures, with all measure shaving only one design option other than "none". This failed with the following error.

![screen shot 2017-11-08 at 10 10 52 am](https://user-images.githubusercontent.com/4857055/32563399-67370fea-c46e-11e7-9cf9-9160f776d82e.png)

I w

[2018-01-08 21:31] kflemin commented on #43
_From @ljbrackney on November 8, 2017 17:48_

That is by design.  The server needs at least one variable to function properly without significant development.  It was easiest to trap this on the client side, and you need to check something (anything) as a variable for a project to work correctly.

[2018-01-08 21:32] kflemin opened #44 "Empty string or string with just space as string argument value is not treated as valid in PAT but is in OS app"
_From @DavidGoldwasser on November 9, 2017 17:59_

I hit this in reporting measures for internal project where some times I want an argument value to be an empty string. The measure ran fine with this in OS app, but failed to make an OSA in PAT. I even tried changing the string argument value to a space vs. an empty string. Should have same behavior from OS app or PAT.

![screen shot 2017-11-09 at

[2018-01-08 21:33] kflemin opened #45 "PAT app appears to run forever when server hits maximum RAM"
_From @DavidGoldwasser on November 10, 2017 19:37_

@henryHorsey my other 'run forever' scenarios happened when one ruby process got hung up. This is different. It is a 6 datapoint project, with about 20 model and E+ measures and 25 reporting measures.

Looking in temp.data the last datapoint did finish (I have all my html files in reports folder and and out.osw). For reference, the pat.json goes

[2018-01-08 21:33] kflemin opened #46 "External Wall Measure in PAT does not run"
_From @SuranaShilpa on November 15, 2017 1:32_

Attached is the PAT file with some measures and design alternatives. Tested the wall insulation measure and bundled options. None of them run to complete. The analysis starts but does not complete.

[VestasEnvelopeParamR01.zip](https://github.com/NREL/OpenStudio/files/1473081/VestasEnvelopeParamR01.zip)

Thanks,

Shilpa Surana
Energy Analyst
Brightwo

[2018-01-08 21:35] kflemin opened #47 "Cannot quit PAT"
_From @macumber on June 19, 2017 18:49_

I am running PAT in developer mode based on instructions from @asparke2.  I cannot quit PAT.  Every time I try to quit PAT I get the message

    Uncaught Error: EBUSY: resource busy or locked, unlink 'E:\test\skipping\data\db\collection\0-6062630297938895337.wt'fs.unlinkSync @ fs.js:1093rimrafSync @ E:\openstudio-PAT\ap\node_modules\rimraf\rimraf.js:305rem

[2018-01-08 21:35] kflemin commented on #47
_From @asparke2 on June 19, 2017 19:48_

I had seen this in the past, so I made a .cmd script to kill the processes:

[code]

Not sure why it happened, but it stopped eventually.

[2018-01-08 21:35] kflemin commented on #47
_From @ljbrackney on June 19, 2017 19:57_

Haven't seen this on mac with PAT itself, but the OpenStudio process gets orphaned with regularity.

[2018-01-08 21:35] kflemin commented on #47
_From @shorowit on June 28, 2017 19:35_

I see this sometimes. I'm not really sure why it occurs. Here's what I'm seeing in the console:

[code]

[2018-01-08 21:35] kflemin commented on #47
_From @shorowit on September 8, 2017 14:4_

I've not observed this issue for a while now.

[2018-01-08 21:35] kflemin opened #48 "Cannot delete Measure Option in PAT"
_From @jmarrec on June 16, 2017 12:13_

OS 2.1.1, macOS Sierra 10.12

Sometimes when I click on the cross to delete a measure option, it stays there (the cross itself disappears). Upon save and reopen, it's still there, but when I do it again, it disappears. It may be when I click quickly on something else after

![screen shot 2017-06-16 at 2 13 30 pm](https://user-images.githubusercontent.com/547

[2018-01-08 21:35] kflemin commented on #48
_From @DavidGoldwasser on June 22, 2017 19:21_

@evanweaver have you heard any other reports like this. I can't reproduce this on 2.1.2 macOS 10.11.6

[2018-01-08 21:35] kflemin commented on #48
_From @evanweaver on June 22, 2017 19:24_

@DavidGoldwasser I've not experienced this nor heard of it before.

[2018-01-08 21:36] kflemin opened #49 "Updating measure in PAT doesn't handle new and/or deleted arguments properly."
_From @DavidGoldwasser on June 9, 2017 21:12_

Scenario 1: Measure in PAT project is edited in external repo and a new argument is added. If you update that measure in PAT, it will see that there is an update, but the new argument doesn't show up in the interface. This is true for both manual and algorithmic. If the new argument has a default measure than things will run fine, but the user won't k

[2018-01-08 21:36] kflemin commented on #49
_From @DavidGoldwasser on June 9, 2017 21:13_

@macumber I'm not convinced this is measure manager, I think it is doing it's job, but the PAT project is just keeping what it had when the measure was first imported?

[2018-01-09 20:49] kflemin commented on #12
Done!  @asparke2, can we close?

[2018-01-09 21:43] pouyakary commented on #12
I guess so

[2018-01-09 21:45] #12 closed, assigned to asparke2

[2018-01-09 22:20] kflemin commented on #47
@macumber, is this still happening? can we close?

[2018-01-09 22:23] kflemin commented on #43
@DavidGoldwasser,

As Larry mentioned, this is by design. The correct workaround is to select anything as a variable.

PAT projects that 'skip' a measure in at least one alternative would run on the server without setting anything at a variable on the analysis tab.  I can check for skips and allow those to proceed.  Does that work?

[2018-01-09 22:30] kflemin commented on #39
@shorowit, does the displayed order of the arguments in PAT make a difference in the results? Or is it just that you'd rather have them in order?

[2018-01-09 22:51] kflemin commented on #29
We made the design decision not to poll the server unnecessarily and download files multiple times.  If the feedback displayed in PAT while the analysis is running is insufficient, you can always open up the server management console (from the View menu in PAT) and look at the analysis there.

[2018-01-09 23:43] shorowit commented on #39
No, it does not make a difference in the results. But the order can be important for the user to understand what the arguments mean.

[2018-01-10 20:20] kflemin commented on #29
@jmarrec, let me know if I've misunderstood the issue and I'll re-open.

[2018-01-10 20:20] #29 closed, assigned to kflemin

[2018-01-10 21:46] kflemin commented on #23
Added a check to catch this error in commit 7188f4bb0e871db60bec27c7affe3589ddef8936.

[2018-01-11 04:28] kflemin commented on #31
This is (currently) by design.  The zips get downloaded only, not extracted.  The reports are usually downloaded individually, but this doesn't happen on large projects.  Would it be better if we didn't display the report icon at all for large projects?

[2018-01-11 21:00] DavidGoldwasser commented on #43
If we can add check for skipped measure that would be ideal.

[2018-01-11 22:35] kflemin commented on #32
Just made a fix for preserving order--as defined on the Design Alternatives tab--on the Run tab and refreshing when order changes in commit b8152a2fe04d7b159f4ef53102c843a59980ac39.

As for the Summary Results table, the order of results is reversed in the code:

[code]
@asparke2, is there a reason for the reversal?

[2018-01-12 00:25] kflemin commented on #18
This is by design.  If you want to increment the numbers, you'd have to duplicate the original measure only, and not copies of the original measure.

[2018-01-12 00:29] kflemin commented on #43
Added ability to run analysis without variables if there's at least one skipped measure in a DA:  commit 7c58b6f061ab9ccd41a2bb6a60c1fcc9ecbc7443

[2018-01-12 00:29] kflemin commented on #48
@jmarrec, is this still an issue?

[2018-01-12 00:36] kflemin commented on #44
@DavidGoldwasser, can you provide a PAT project to test with, or at least a measure where a blank argument would be valid?  thanks!

[2018-01-12 00:38] kflemin commented on #41
@DavidGoldwasser, I'm not sure I understand this completely, but it sounds like there is a failure during the analysis. Should it be a server issue? There's not much we can do in PAT unless we can do a check prior to running the analysis to detect this condition.

[2018-01-12 00:54] kflemin commented on #37
@kpelckmans, do you mean datapoint instead of analysis? If so, this was fixed by trapping the error in the PAT ui and notifying the user.  If you mean that the analysis/PAT project cannot have a . in the name, I was not able to reproduce.

[2018-01-12 00:56] kflemin commented on #33
@shorowit, could you provide an example project?  thanks!

[2018-01-12 00:57] kflemin commented on #26
@ljbrackney, based on @rHorsey's comment above, what is your preferred resolution for this issue?

[2018-01-12 04:05] kflemin commented on #25
Fixed in commit 4ae2c27d2e918242d3307daf0fd0e287c8bb2186

[2018-01-12 05:36] kflemin commented on #21
Fixed in commit 40ccaa454be80514e7749fe600e64e64dc6b399f

[2018-01-12 08:24] jmarrec commented on #48
I'm not sure, I haven't used PAT in ages nor do I still use a macOS machine.
Plus, I think to remember this isn't one the cases where opening a blank project and playing for 2 seconds would reproduce the bug, it was more something that would come up much later.

You can close the issue, and I (or someone else) will reopen if they come across it in 2.4.x.

[2018-01-12 15:16] ljbrackney commented on #26
@rHorsey recommendation is perfect.

[2018-01-12 15:19] ljbrackney commented on #40
Could we add a preference for the number of points downloaded?  Also, I believe there's another ticket with the recommendation to delete the report icon/selector for points that aren't available.  I would recommend leaving the icon and graying it or Xing it out w/ a tooltip stating why.

[2018-01-12 16:43] shorowit commented on #18
In my opinion, it seems unreasonable to expect a user to do this. If you are trying to make many copies at once, it's worth noting that when you duplicate the measure, PAT immediately takes you to the duplicated measure. So this means you have to scroll back up to the top each time to duplicate the original measure again.

That said, I wouldn't care too much about this if https://github.com/NREL/O

[2018-01-12 17:16] shorowit commented on #33
@kflemin Here you go. (You will need the resources and scripts directories on the same level as the project dir, as preserved in the zip.)

I just ran it this morning in 2.4.0 and saw various numbers (20014, 19992, etc.) for total datapoints in PAT.

[pat_project.zip](https://github.com/NREL/OpenStudio-PAT/files/1626862/pat_project.zip)

[2018-01-13 06:12] macumber opened #50 "runner.registerValue with infinity crashes PAT"
From https://github.com/NREL/OpenStudio/issues/2670

[2018-01-15 15:57] kflemin opened #51 "PAT 2.1.0 Model generated datapoints have no means of attaching measure taxonomy tags."
_From @chrisbalbach on May 2, 2017 20:42_

Description of Issue:

In previous versions of PAT (v1.14.0 going back to to v1.9.0), users were able to create a design alternative datapoint by uploading a .osm file. From within the (legacy) PAT GUI, users were then able to tag the model generated design alternative datapoint with (cost) and (measure taxonomy category) pairs. This information was inclu

[2018-01-15 15:57] kflemin commented on #51
_From @asparke2 on May 10, 2017 19:51_

Solution is to make the measure category and subcategory editable on the EDAPT export Project Report.  Users will have add generic cost measure, include in design alternative, then set the categories correctly before export.

[2018-01-15 15:57] kflemin commented on #51
_From @macumber on January 13, 2018 6:27_

@kflemin should this be moved to PAT repo

[2018-01-15 16:02] kflemin opened #52 "Issue with Measure Manager in PAT"
_From @macumber on June 8, 2017 16:59_

PAT will mark a project measure as broken. Haven't been able to find the inciting incident or step(s), but an existing measure in a PAT project will be indicated as broken and unable to be updated. Running ```openstudio measure -u [measure_dir]```, and then quitting and restarting PAT has worked in the past, but not consistently.

I currently have a project

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on June 8, 2017 17:8_

Verified in at least one of my test projects - Prototype measure shows up as broken but project runs fine.  Other measures show up as needing updates, which worked fine.

[2018-01-15 16:02] kflemin commented on #52
_From @rpg777 on June 8, 2017 17:11_

This just in, if you wait long enough after a PAT restart (> 00:01:00), PAT seems to get itself sorted. I just tried:

1. re-ran measure update/cli
2. quit PAT
3. open OSapp, looked at measure in there and it reported no issues
4. re-open PAT, wait a minute (literally)

At that point, clicking "check for updates" showed the measure needed updating and allowed

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on June 8, 2017 17:43_

I'm also seeing measures w/ available updates.  Clicking the update button appears to update it, and the indicator disappears briefly but then comes right back.

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 14, 2017 22:34_

Few thoughts after meeting with @rpg777:

If you have one measure manager running and you use the CLI (or another instance of PAT/OS App) to update a measure, the first measure manager instance may not be aware of the changes made to the measure.xml by another process (a file checksum test may be required).

The error Rob saw reported comes from here, https

[2018-01-15 16:02] kflemin commented on #52
_From @rpg777 on June 15, 2017 19:47_

I just updated the Measure Writer's Reference Guide to reflect the change in preference for ```OpenStudio::Measure::ModelMeasure``` over ```OpenStudio::Ruleset::ModelUserScript``` for measure class instantiation, BTW.

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 19, 2017 17:8_

@rpg777 's issue was specific to the "superclass mismatch error" , I am not sure @ljbrackney was seeing that same error.  We'll need more information about how to reproduce/what the actual error is

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 19, 2017 17:9_

Also note that running measure -u on a measure should only be done while PAT is not running and you may have to add whitespace or make some other change to your measure files to force measure manager to detect a change.

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on June 19, 2017 17:21_

MM-related issues I see with regularity:

  1.  Fail to download results measure dialog routinely shows w/ new models in the App
  2.  PAT weirdness with update icons - Downloading an update makes icon go away briefly, but it quickly reappears.

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 19, 2017 17:33_

Thanks @ljbrackney

On 1) are you deleting the results measure from your local bcl so it should be re-downloading?

On 2) you should not really be seeing updates available on remote BCL, we are not updating measures there with any regularity.  When you say downloading an update do you mean processing a local update?  Like you changed a measure in my measure

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on June 19, 2017 17:59_

I haven't deleted it, and I didn't do anything screwy like manually install it outside of the manager.  Do you want me to try that?

I'm saying that I have seen 1 or 2 measures that were identified as having available updates - e.g. DOE prototype and results - that exhibit this behavior.

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 19, 2017 21:38_

If the results measure is already downloaded and in your local bcl, then there should be no issues adding it to a new model.  Only thing that jumps to my mind is that the measure manager might not be fully started and ready when the results measure is requested which would make this related to https://github.com/NREL/OpenStudio/issues/2613

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on June 19, 2017 21:50_

Working with @rpg777 saw some erratic behavior where measure was marked as broken, changing measure by adding whitespace and re-checking for updates cleared the error.  It was possible that measure manager had crashed when measure was first marked as having an error (measure manager did crash on one run of PAT).  Once error is in xml then measure.rb must be

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on August 30, 2017 14:16_

I am still seeing the Measure has available update icon in PAT, but it looks like  PAT/MM IS downloading a new version based on timestamps in measure directoryl

[2018-01-15 16:02] kflemin commented on #52
_From @ljbrackney on August 30, 2017 14:21_

I found a project with multiple out of date measures and can qualify the above behavior.  The OpenStudio Results measure is the only one that seems to exhibit this behavior.  Other measures that had available updates were updated correctly and the icon disappeared correctly.

[2018-01-15 16:02] kflemin commented on #52
_From @macumber on January 13, 2018 6:20_

@kflemin should this be moved to PAT?

[2018-01-15 16:03] kflemin opened #53 "PAT Shows Updates Available for Measures but Clicking the Update Button Does Nothing"
_From @ljbrackney on June 23, 2017 3:7_

When clicking add measures several project Measures indicate that updates are available.  Clicking the update icon brings up the correct dialog stating that a local update is available, but clicking the update button does nothing.  Leaving the Measure Manager window and re-entering shows the Measure still has an available update.

When checking for updates,

[2018-01-15 16:03] kflemin commented on #53
_From @ljbrackney on June 23, 2017 3:18_

Further, the project no longer runs.  Had to blow away ALL Measures in the project and rebuild the alternatives. :(  Lesson learned - don't allow OpenStudio to corrupt your Local BCL forcing you to delete it.  Not sure what you want to do with this issue.

[2018-01-15 16:03] kflemin commented on #53
_From @macumber on January 13, 2018 6:14_

@kflemin should this be moved to the PAT repo?  Can we reproduce this outside of PAT?

[2018-01-15 16:04] kflemin opened #54 "PAT should not start measure manager on default port"
_From @macumber on June 19, 2017 21:36_

PAT should find an open port for measure manager each time it starts

_Copied from original issue: NREL/OpenStudio#2663_

[2018-01-15 16:04] kflemin commented on #54
_From @macumber on January 13, 2018 6:15_

@kflemin should this be moved to PAT repo

[2018-01-15 16:05] kflemin opened #55 "PAT Measure Manager Not Finding New Content in MyMeasures"
_From @ljbrackney on August 28, 2017 15:57_

Added a Measure to MyMeasures.

[RunPeriod.zip](https://github.com/NREL/OpenStudio/files/1257399/RunPeriod.zip)

This didn't show up in PAT's Measure Manager but DID show up in the App.  I manually edited the Measure's XML to delete a word from the description and restarted PAT.  The Measure now shows up and can be added to the project.

_Copied from or

[2018-01-15 16:05] kflemin commented on #55
_From @macumber on January 12, 2018 23:4_

@kflemin should this be moved to PAT repo?

[2018-01-15 16:20] kflemin commented on #18
Yes, I think #19 is a better alternative.  I'll work on that one first.

[2018-01-15 20:43] macumber opened #56 "PAT does not work on Linux"

[2018-01-15 21:18] kflemin commented on #54
@macumber, how does this work in the App?  I'm afraid there will be a bunch of measure_managers running on a machine if we keep choosing a new port. Is that a concern?

[2018-01-15 21:24] kflemin commented on #52
@ljbrackney, can you send me a project that displays this behavior (with the out-of-date openstudio results measure)? thanks!

[2018-01-15 21:38] macumber commented on #54
Here's what we do for the app, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/openstudio_app/OpenStudioApp.cpp#L1130

Each process should get its own measure manager since the my measures dir is set globally for each measure manager

[2018-01-15 22:36] kflemin commented on #41
@henryHorsey, this seems to be a server issue.

[2018-01-16 18:09] kflemin commented on #44
A blank space gets recorded as an empty string in the grid. An argument that can have a valid value be an empty string should probably be made an optional argument.  That way, the validation shown in the screenshot above would not get triggered.  I'm not sure what kind of validation is done on arguments in the App. @macumber?

[2018-01-16 18:50] macumber commented on #44
I would second that empty string "" or blank space " " are not good input,, these should be considered equivalent

[2018-01-16 21:38] DavidGoldwasser commented on #44
Just to clarify about grid in PAT, it will remove any leading or trailing spaces, still an edge case, but there are use cases for that, for example there is a measure that does find and replace on object names in the model. I might want to replace "Prototype " in object names with "prototype_".

@macumber for some background, here is what happens in OS app. I have a measure with this argument

[2018-01-16 21:44] DavidGoldwasser commented on #44
I am fine with app being changed to not allow empty strings. In the past you would see a red triangle showing that data was missing(Update: that shows up if no default, but if default is empty string it doesn't stop you from using that). I can update the measure to use an optional argument or a special string for no key.

I didn't write the measure was just using it for calibration project, and ju

[2018-01-17 00:05] kflemin commented on #44
The whitespace trimming is a separate issue (and I've just fixed it 3a68b8465ffd3133232f36950f5a08a93fa08923).  Can we close this issue?  You can open another one in the OpenStudio repo if you need to.

[2018-01-17 01:14] kflemin commented on #54
fixed in 1ba1107d638db67e3f1d1bf4b300230528d10849

[2018-01-17 01:17] #48 closed, assigned to kflemin

[2018-01-17 02:18] macumber commented on #44
I think it would be worth making a little table of expected behavior, we could make a test measure to verify.  I'm not sure if the table below is correct, but I think we need this level of specification, should get posted in the measure writing guide.  We should also mention that default value can't be "" or " ", and this only applies to string and choice arguments.

Required | Default | User Inpu

[2018-01-17 22:41] #44 closed, assigned to kflemin

[2018-01-18 03:49] kflemin commented on #49
Scenario 1 & 2 - Could not reproduce in manual nor algorithmic mode.  This probably got fixed somewhere along the way.

I did implement some fixes for bugs I ran into while testing this, related to existing measure options when adding/deleting measure arguments during an update.

@DavidGoldwasser, I think we can close unless you are still experiencing this problem and can give me steps to reproduc

[2018-01-18 04:29] kflemin commented on #39
Fixed in 674a9f54552d0c072e78b93955b2bb239586e3c5

[2018-01-18 17:30] kflemin commented on #38
Fixed in b85567df656aeac22ae0a31478c43b86b7189925.  Decimal input boxes now allow up to 6 decimal places. Integer input boxes will still look like the screenshot above.

[2018-01-18 19:50] kflemin commented on #28
@shorowit, sorry to ask again, but is this still an issue?  I followed your steps but could not replicate the error.  If so, can you send me your apply_upgrade measure?

[2018-01-18 20:06] shorowit commented on #28
Yes, it still happens in 2.4.0. Here's the measure:
[ApplyUpgrade.zip](https://github.com/NREL/OpenStudio-PAT/files/1644272/ApplyUpgrade.zip)
And for what it's worth, here's the duplicated version of the measure:
[apply_upgrade.zip](https://github.com/NREL/OpenStudio-PAT/files/1644273/apply_upgrade.zip)

[2018-01-18 20:22] kflemin commented on #27
Fixed in: 7816b3ed29cc1b4573ac4c32a270a77525dc3de2.  Measures added to a project will no longer have the tests/output dir copied over.

[2018-01-18 21:16] kflemin commented on #28
Fixed in 72275a47fe6d7d1bcc7719621fc39b37b5159f6c.  The issue was with the directory name being upper camel case, while PAT was expecting it to be snake case.  PAT can now handle both naming conventions.

[2018-01-18 22:05] kflemin commented on #55
Could not reproduce.  If it's ok with you, I'd like to close this issue, but we can re-open if you run into a similar issue again.  I have also added potential measure manager 'errors' related to specific measures in RED in the developer console, so they are easier to spot.  Also check there if this happens again.

[2018-01-18 22:28] ljbrackney commented on #55
Ok to close.

[2018-01-18 22:32] #55 closed, assigned to macumber

[2018-01-19 04:20] kflemin opened #57 "output hash should be included in the OSA for a manual simulation"
_From @DavidGoldwasser on October 3, 2017 19:5_

Would be ideal for local and cloud, but also fine if just on cloud. Currently there is a results.csv but it just as input and status columns, not any of the outputs.

Ideally would enable the Outputs tab for manual projects, but obviously the objective function columns would not matter, but maybe could be done without change to GUI, if this is limit

[2018-01-19 04:20] kflemin commented on #57
_From @macumber on January 12, 2018 22:26_

@kflemin should this be moved to the PAT repo?

[2018-01-19 04:24] kflemin opened #58 "Problems with results measure"
_From @macumber on June 19, 2017 20:9_

Error 1) Start new PAT project, do not assign seed model, add results measure to workflow.  Get developer message:

    angular.js:14199 measure.seed is undefined. Unable to compute measure arguments.

Should not need a seed model to compute arguments, should use empty model

Error 2) Go to check for updates, results measure shows as having update (even thou

[2018-01-19 04:24] kflemin commented on #58
_From @macumber on June 19, 2017 20:11_

Error 4) press delete button on results measure in workflow, results measure is deleted from Local BCL!

[2018-01-19 04:24] kflemin commented on #58
_From @macumber on June 19, 2017 20:12_

@ljbrackney are these similar to what you are seeing?

[2018-01-19 04:24] kflemin commented on #58
_From @macumber on June 19, 2017 20:13_

Starting OS App correctly downloaded and applied the results measure to a new osm

[2018-01-19 04:24] kflemin commented on #58
_From @ljbrackney on June 19, 2017 21:24_

I've also seen the unable to compute arguments message.  Errors 2 and 3 sound right.  I haven't observed 4, but I haven't tried that either.

[2018-01-19 04:24] kflemin commented on #58
_From @jmarrec on June 26, 2017 14:39_

I'm having error 3) all the time as well.

[2018-01-19 04:24] kflemin commented on #58
_From @macumber on January 13, 2018 6:15_

@kflemin should this be moved to PAT repo?

[2018-01-19 04:32] kflemin commented on #50
@macumber Does this really crash PAT?  It sounds like the datapoints fail on the server.  I'm not sure what needs to happen on the PAT side of things...

[2018-01-19 04:43] kflemin commented on #37
closing due to similar issues (if datapoint is what was meant here) or can't reproduce (if analysis was meant).

[2018-01-19 04:43] #37 closed, assigned to kflemin

[2018-01-19 05:17] kflemin commented on #50
Tested with measure that has infinity and no PAT crash.

[2018-01-19 15:55] evanweaver commented on #56
@macumber please talk with me about your intentions here.

[2018-01-19 16:18] macumber commented on #56
Install PAT on Ubuntu :-)

[2018-01-19 16:19] evanweaver commented on #56
*sigh* Haha. Is this a high priority, something I should work on immediately?

[2018-01-19 16:25] macumber commented on #56
That's up to the team, we have had a fair number of requests for this

[2018-01-19 16:50] macumber commented on #50
I would suggest that @DavidGoldwasser or someone else develop some measures which are purposefully degenerate (e.g. `runner.registerValue('inf', 1.0/0.0, '')` and `runner.registervalue('nan', 0.0/0.0, '')`).  We can run these as part of our test suites for the server and PAT.

[2018-01-22 23:18] kflemin commented on #26
Added 'Not Recommended' in 4f9aa997f15b4b705d6873e951946d1d567f5514.  Couldn't gray out without disabling the option.

[2018-01-23 20:31] kflemin commented on #52
It appears some of these issues (definitely @rpg777's) were due to linking to an older version of OpenStudio CLI under the hood.  Check your $PATH and your /usr/local/bin directory to ensure you are using the appropriate version.  (some installs have a simlink in /usr/local/bin that doesn't necessarily point to the correct location)

[2018-01-23 20:31] #52 closed, assigned to macumber

[2018-01-23 21:16] kflemin commented on #58
1 was fixed in: 522236aa4c664b625d6a1b4f93f7ace0d261a2b3
2 and 3 fixed in: 088fcc8edfe400960af132796f4a1f4d713a6cd9
4 fixed in https://github.com/NREL/OpenStudio/issues/2676

[2018-01-23 21:19] kflemin commented on #53
I think this fixes most of what is described above: 088fcc8edfe400960af132796f4a1f4d713a6cd9.  This seems to be mostly a duplicate of #58.

[2018-01-23 21:19] #53 closed, assigned to macumber

[2018-01-23 21:20] kflemin commented on #50
sounds good to me!

[2018-01-23 21:52] #50 closed, assigned to kflemin

[2018-01-23 21:53] #49 closed, assigned to kflemin

[2018-01-23 22:34] #47 closed, assigned to kflemin

[2018-01-24 04:27] kflemin commented on #14
I think this got fixed along the way.  I cannot reproduce this error.  @DavidGoldwasser ?

[2018-01-24 05:34] kflemin commented on #22
Various improvements have been made since 2.1, and I also just improved the resetting of OsServer/run tab in this commit: 414ae4674f03b34b715acac76aa3b722ce6c4399.   I couldn't reproduce this error for opening a new project or opening an existing project after the first project was run on remote.

@shorowit, let me know if this is still an issue. thanks!

[2018-01-24 16:54] kflemin commented on #46
@SuranaShilpa,
We have added better error handling in newer versions of PAT, and are providing warnings to users within the app when option names or design alternative names are illegal.  In your case, you will need to remove all of the '.' from your option names and 2 of your DAs.  PAT should give you a warning of which ones they are.

But that wasn't your only issue; the datapoints still failed

[2018-01-24 16:54] #46 closed, assigned to kflemin

[2018-01-24 17:22] DavidGoldwasser commented on #14
Yes, this has been fixed.

[2018-01-24 17:22] #14 closed, assigned to kflemin

[2018-01-24 18:31] kflemin commented on #33
@shorowit,

I just ran your project.  It seems that the total # of datapoints is jumping around on OsServer while there are 'n/a's, but when all datapoints are queued up, the number seems to settle to 20000.  I'm not sure why, could have to do with the algorithm selected.  PAT uses the datapoints that are returned from the server.  @rHorsey, @brianlball do you have any thoughts on what could be ca

[2018-01-24 18:40] kflemin commented on #31
Removed the report icon in large project so it's less confusing: 6a1b8cb66263b8be5f9d0bcb8c0c6c7a6eb8e081

[2018-01-24 19:01] ljbrackney commented on #31
To clarify - you're removing report icons for points that aren't automatically downloaded, or for all points?  I sometimes use reports - even for large projects to make sure things are running ok.

[2018-01-24 20:46] kflemin commented on #31
For large projects (> 150 datapoints), we do not download the reports separately.  You could access them from within the data_point.zip file that is downloaded, but they aren't loaded in PAT the way reports are loaded for smaller projects.

[2018-01-25 03:50] kflemin commented on #30
Added analysis name input to run tab.  Defaults to project name.  ed3098c73693786136def0222cf0e1039d39dbce

[2018-01-25 15:35] kflemin commented on #31
Okay, I've reverted this fix so that the report icons still show up on the run tab even for large analyses.  I think this original issue is old and has been fixed along the way.  Closing.

[2018-01-25 15:35] #31 closed, assigned to kflemin

[2018-01-25 17:28] DavidGoldwasser opened #59 "Enable user entered string for choice list from model objects"
I believe this was in design but just not implemented. Currently for a measure you can choose which seed model is used to calculate choice argument options, but since we allow different seeds for different design alternatives this doesn't allows give users the choice they need for a specific measure option.

[2018-01-29 17:49] kflemin commented on #19
added this functionality in: fafec93a277de332dda7913210a9851b712cf645.  Can edit measure display names in both manual and algorithmic mode.

Click the pencil icon to unlock name for editing:
![opennameforediting](https://user-images.githubusercontent.com/2205659/35525489-de693ed6-04e1-11e8-8489-184a3e02ea3e.png)

Edit and click lock icon to disable input:
![editandlock](https://user-images.githubu

[2018-01-29 19:39] kflemin commented on #16
The trackpad "pinch" gesture to zoom in/out works on mac.  Not sure what the equivalent is for windows though.

[2018-01-29 19:48] kflemin commented on #59
@DavidGoldwasser should this be allowed for any choice argument?  Or for model-dependent ones only?

[2018-01-30 16:19] kflemin commented on #57
This functionality would be best implemented with a PAT project report.  There is not enough demand to enable the Outputs tab for manual analyses, and doing so would complicate the PAT workflow for most users.

[2018-01-30 16:19] #57 closed, assigned to kflemin

[2018-01-30 21:46] DavidGoldwasser commented on #57
Make's sense. I'm fine implementing as project report.

[2018-01-30 21:49] DavidGoldwasser commented on #59
@kflemin it is only necessary for model dependent.

[2018-01-31 23:28] ljbrackney opened #61 "Run Tab is broken w/ latest commits"
![runtab](https://user-images.githubusercontent.com/2230150/35653092-4fb4b4d4-069b-11e8-8a69-e2334ee67ad1.png)

This is what the run tab currently looks like with two of my projects that were working in 2.4.0.

[2018-01-31 23:30] ljbrackney commented on #61
Debug log after PAT startup:

showInfoMessages =  true
vendor-ad64e72158.js:5 showErrorMessages =  true
vendor-ad64e72158.js:5 Number of cores:  4
vendor-ad64e72158.js:5 Number of workers set to:  3
vendor-ad64e72158.js:5 Selected Server URL set to:  http://localhost:8080
vendor-ad64e72158.js:5 get openstudio version command:  "/Users/lbrackne/GitHub/OpenStudio/build/pat/OpenStudio-PAT/tmp/Paramet

[2018-02-01 04:13] kflemin commented on #61
I don't see anything about the run tab in the debug log above, but it is complaining that it can't find OpenStudio...can you see it in ParametricAnalysisTool.app/Contents/Resources/?

As for the run tab, were there other errors after the ones above?

[2018-02-01 21:53] kflemin commented on #34
The last 2 points are as designed:  The local server always starts in case you need it (since it takes a long time to start it).  You cannot reconnect to an analysis on an existing server since there is no guarantee that it will be there and most user workflows do not include an existing server.

The change proposed first point could be implemented but is risky.  I wouldn't want to take it on unle

[2018-02-01 22:07] shorowit commented on #34
For what it's worth, the second bullet is by far my highest priority of the three. It continues to bite all of us using ResStock[1] when we're trying to switch projects and need to wait for the local server to start up each time. It makes 5 minutes worth of work take an hour when you have 6 projects you're trying to update.

At a minimum, would it be possible to not have the local server restart w

[2018-02-01 23:11] kflemin commented on #34
The local server runs out of the project's folder, that's why it needs to be stopped and restarted when you switch projects...

[2018-02-01 23:14] shorowit commented on #34
Is it difficult/impossible to change to, say, a temp directory? (I get the feeling you are going to say yes :-) )

[2018-02-02 00:17] kflemin commented on #34
Yes :)

[2018-02-02 20:09] ljbrackney commented on #61
Resolved

[2018-02-02 20:09] #61 closed, assigned to kflemin

[2018-02-05 17:18] DavidGoldwasser commented on #24
@kflemin this pull request addresses this.
https://github.com/NREL/OpenStudio-PAT/pull/60

[2018-02-05 17:20] DavidGoldwasser commented on #42
I can try and fix this on the algorithmic report pull request
https://github.com/NREL/OpenStudio-PAT/pull/60

[2018-02-05 17:30] DavidGoldwasser opened #62 "PAT project reports fail sometimes and work other times when switching away form and back to a report"
This does happen more on larger projects, than smaller ones, but not always.

In the example below with build of PAT vs. installer, the report works when I first go to reporting tab

<img width="1680" alt="screen shot 2018-02-04 at 11 06 31 am" src="https://user-images.githubusercontent.com/4857055/35819238-5071e514-0a5f-11e8-9f35-228c349287d3.png">

And then breaks if I leave to go to other repor

[2018-02-06 18:07] kflemin commented on #59
this should be fixed as of 5696d962e046583b38537da98de9d35dc865cfc4

[2018-02-06 18:18] kflemin commented on #62
should be fixed on algorithmic_reports branch

[2018-02-07 16:16] DavidGoldwasser commented on #42
@asparke2 I put fix in to reverse the sign of the percentage, but showing a percentage savings with negative baseline is still odd. We could do something fancy like not showing savings percentage when the baseline value is negative, or we could add an EUI consumption vs. net EUI column which would never have a negative value. I also added a new summary report without a baseline which doesn't have

[2018-02-07 16:59] DavidGoldwasser commented on #62
Thanks!

[2018-02-07 16:59] #62 closed, assigned to kflemin

[2018-02-07 17:37] kflemin opened #63 "Update measure leaves traces of old outputs"
Reported by @rpg777

When updating a measure already in a project, outputs that were defined in a measure but have been deleted from the updated measure still show up in the Outputs tab and there is no way of deleting them.  Must manually remove them from pat.json file under measure -> analysisOutputs and reload the project.

[2018-02-08 22:18] kflemin commented on #63
fixed in 9889d08cc02406d279a5e8e2e0ace423649ff2ad

[2018-02-12 21:45] #58 closed, assigned to kflemin

[2018-02-13 21:11] DavidGoldwasser commented on #59
Working now that I fixed my PAT build :)

[2018-02-13 21:11] #59 closed, assigned to kflemin

[2018-02-13 21:51] #43 closed, assigned to kflemin

[2018-02-14 21:37] DavidGoldwasser commented on #30
:)

[2018-02-14 21:37] #30 closed, assigned to kflemin

[2018-02-14 21:38] #19 closed, assigned to kflemin

[2018-02-14 21:44] DavidGoldwasser commented on #39
@kflemin I still see this behavior in my build using current develop of PAT

[2018-02-14 21:46] kflemin commented on #39
@DavidGoldwasser can you send me a pat project and a bit more detail about the behavior you are seeing  (did you add a new argument?  switch the order of 2 existing arguments? etc...)

[2018-02-15 19:52] phylroy commented on #56
+1 for me.. We use a Linux image to train people to use OS and develop measures.  It's super easy to deploy and always has a consistent environment for users.
https://github.com/canmet-energy/btap-development-environment

[2018-02-20 06:03] kflemin commented on #40
Added this functionality in 0f9b304f8614be7d60c79e1f2f349a2a69914600

[2018-02-22 22:10] pflaumingo opened #64 "Can't get datapoint from X-Y plot"
I'm not 100% sure on the cause of it, but the X-Y scatter plots of Office_Study (currently on nrel24b, but may not be when this bug is resolved) don't allow for a datapoint to be viewed when a datapoint is clicked on. The console throws an error stating "d.x.toFixed is not a function". When a datapoint is clicked on it shows the image below.

![image](https://user-images.githubusercontent.com/1523

[2018-02-22 23:02] pflaumingo commented on #22
Same issue on my end. I ran a simulation on the server and after opening a new project, I ran it locally but it then appeared on nrel24b. Then after adjusting to run on the cloud, but not actually running it, and then setting it back to run locally it fails and the status bar shows "Analysis Error".

[2018-02-22 23:05] kflemin commented on #22
what version of PAT are you using @pflaumingo?

[2018-02-23 16:47] pflaumingo commented on #22
When I check the "About" it shows 0.0.1, but it's the version that comes bundled with OpenStudio 2.4.0.

[2018-02-23 20:17] kflemin commented on #22
oh right, it hadn't been fixed in that release yet.  It should be fixed in the latest build though (> 2.4.1)

[2018-03-02 14:46] bba-afk commented on #56
+1 for me too.

[2018-03-02 16:06] DavidGoldwasser opened #65 "Deleting first measure option of a measure instance in manual analysis creates issues."
I have seen this before, but I have a new project I made in 2.4.2 that exhibits this. After deleting what was the first measure option I can no longer set a project default argument value for the measure instance for the rest of the measure options. The work around is to set it to a variable.

What is confusing for the user is that it looks like it is accepting the value when you set it, but it is

[2018-03-02 16:15] DavidGoldwasser commented on #65
Here is a screenshot of GUI and simulation results. The argument changes  HVAC availability.

![screen shot 2018-03-02 at 9 11 15 am](https://user-images.githubusercontent.com/4857055/36908982-12a5f1ae-1dfa-11e8-9a89-0929654ed517.png)
![screen shot 2018-03-02 at 9 11 00 am](https://user-images.githubusercontent.com/4857055/36908994-1b592d48-1dfa-11e8-83cd-6ad525e60d7f.png)

And this is after chang

[2018-03-05 16:16] DavidGoldwasser opened #67 "For algorithmic analysis warn user if min value is larger than max value for continuous variable."
I made this mistake when working with negative values and got my min and max reversed, the log messages were not easy to read. Could be nice to prevent analysis from running if this condition is found.

[2018-03-06 15:01] DavidGoldwasser opened #68 "Custom Measure Instance names on first tab don't make it to Design Alternatives tab"
<img width="841" alt="screen shot 2018-03-06 at 7 58 03 am" src="https://user-images.githubusercontent.com/4857055/37039349-7cded316-2114-11e8-80c4-d252eed3120c.png">

<img width="842" alt="screen shot 2018-03-06 at 7 58 26 am" src="https://user-images.githubusercontent.com/4857055/37039348-7ca44df4-2114-11e8-9aa5-70639695ddc3.png">

I confirmed they don't refresh after a save, quit and re-load. N

[2018-03-07 17:32] kflemin commented on #64
this was fixed by @brianlball on the OpenStudio-server side.

[2018-03-07 17:32] #64 closed, assigned to nobody

[2018-03-08 17:29] DavidGoldwasser commented on #68
Also don't make it to server

![screen shot 2018-03-08 at 10 28 29 am](https://user-images.githubusercontent.com/4857055/37166153-8ba15696-22bb-11e8-951f-7d44808bad9b.png)

[2018-03-13 04:12] kflemin commented on #65
@DavidGoldwasser can you send me this project? I don't have access to the repo.  thanks!

[2018-03-13 04:14] kflemin commented on #68
Fixed DA tab in 2cd90bfd2dc407833eb5b3d99cf96e33ecf9c14f.  The server shows measure names (not display names).  This would require a change on the server...

[2018-03-13 04:25] DavidGoldwasser opened #69 "Category list isn't showing when adding new measure"
Noticed this in 2.4.3, not sure if new to this version or not, I'll check older installer.
<img width="1205" alt="screen shot 2018-03-12 at 10 24 49 pm" src="https://user-images.githubusercontent.com/4857055/37322615-517c7176-2644-11e8-8ab2-32405f46eb35.png">

[2018-03-13 04:26] DavidGoldwasser commented on #65
@kflemin, sorry about that, I'll send project in few minutes

[2018-03-13 04:38] DavidGoldwasser commented on #69
Hmm, this may be isolated to one project. I'll see if I can re-create it after fresh start with all orphan processes killed.

[2018-03-13 04:49] DavidGoldwasser commented on #65
<img width="1680" alt="screen shot 2018-03-12 at 10 47 23 pm" src="https://user-images.githubusercontent.com/4857055/37323162-84706ae4-2647-11e8-91cf-90e2eb1c4669.png">

OSW file on right for reference.

[2018-03-13 05:18] kflemin commented on #65
Fixed in b4cb7c567fb442abca097dd624a6b236b2e1d2fc.

[2018-03-13 05:29] DavidGoldwasser commented on #69
invalid, was probably issue with measure manager, everything fine with same project and same measures directory after a clean restart.

[2018-03-13 05:29] #69 closed, assigned to DavidGoldwasser

[2018-03-13 14:29] DavidGoldwasser opened #70 "Adding new seed model clears out non model-dependent choice arguments in existing measure options"
I have confirmed that this happens to both model dependent and non-model dependent choice arguments. Values clear out as soon as you change "Default Seed Model" at the top of the project. It doesn't require you to specifically change the seed model for a specific measure instance.

I think these values should be maintained whenever possible. I've missed this a number of times when loading an updat

[2018-03-19 19:31] DavidGoldwasser opened #71 "when filtering list of datapoints for parallel coordinate plots, wait unitl user lets go to filter."
Currently it filters as you are dragging, which creates un-expected jittery behavior to the page because of dynamically changing number of datapoints listed.

[2018-03-19 20:26] DavidGoldwasser opened #72 "Would be nice to roll EnergyPlus errors to be treated like measure errors in PAT"
Specifically to list the error to the right of "EnergyPlus Results" similar to how measures are handled, and to roll it up to the datapoint total for errors. As described in the post below, it is confusing for users when there are no errors but the datapoint shows "completed Fail".
https://unmethours.com/question/30401/parametric-analysis-tool-openstudio-results-measure-fail/?answer=30409#post-id-

[2018-03-20 22:53] aaron-boranian commented on #40
Add a download all button in PAT either locally or on the server

When running large scale analyses in PAT on the AWS, there is a limit to how many of the files can be downloaded(~200 datapoints). The addition of a download all button or even a batch download where you can select a large group(~500-2000) would be useful. This would allow for the user to have access to all the OSM files and reports

[2018-03-20 23:34] kflemin commented on #40
You should be able to 'download all' by clicking on the white 'results' cloud button.  If your project is large, you will be warned that this may take quite a while.  This functionality should be in 2.4.3.

[2018-04-05 19:16] kflemin commented on #71
This issue was moved to NREL/OpenStudio-server#322

[2018-04-05 19:16] #71 closed, assigned to kflemin

[2018-04-05 19:18] kflemin opened #73 "Seed/Weather dropdowns"
Repopulate seed and weather dropdowns from disk when analysis tab is loaded (not just once on project load).

Look into copying adjacent stat & ddy files into project folder automatically when selecting the epw file.

reported by @rpg777

[2018-04-05 19:21] kflemin opened #74 "handle null seed/weather file in server export"
the Server needs seed and weather file defined in each DA section of the OSA.  If the DAs were created in PAT prior to adding seed and weather to the project, these may be null in the DA tab.    When exporting a manual OSA, check each DA for null seed/weather.  If null, use project seed/weather.  If no project seed/weather, display error to the user.

reported by @rpg777

[2018-04-29 19:59] DavidGoldwasser opened #75 "log messages out of sync"
This looks like older issue https://github.com/NREL/OpenStudio/issues/2503, but I'm seeing this in OpenStudio 2.5.0. In this use case no individual measure is skipped in both datapoints.

In this first example the Duct Leakage measure has one measure option. Both design alternatives use this option.

<img width="1680" alt="screen shot 2018-04-26 at 4 08 53 pm" src="https://user-images.githubuserco

[2018-04-29 20:05] DavidGoldwasser commented on #75
link to zip file used in screenshots above. Saved with option 2. Run with option to of duct leakage removed to induce issue.\https://github.com/NREL/OpenStudio-files/blob/master/Git%20Issue%20Files/pat_issue_75.zip

[2018-04-29 20:14] DavidGoldwasser opened #76 "When moving from Manual to Algorithmic workflow - bring arguments over from first measure option"
When you switch from manual to algorithmic the default measure arguments are used. Often I have reporting measure with lots of arguments with non default values. I have to re-create this work when I switch to algorithmic. This involves me either a) jumping back and forth between manual and algorithmic view to look at my measure argument values, or b) taking screenshots in manual of each measure, a

[2018-04-29 20:21] DavidGoldwasser opened #77 "Copy datapoint from algorithmic analysis as design alternative in manual run"
I have spent a surprising amount of time doing this by hand. I was thinking of how to automate this. Ideally it would be nice to right click a datapoint in a local project report that pulls from results.csv, but it is also possible that a datapoint could be downloaded from server, and then there could be special option when in manual mode to 'create design alternative from osw'. I've even thought

[2018-04-29 20:22] DavidGoldwasser opened #78 "enable "Additional Analysis Files" for manual mode"
You can add additional files for manual run, but you have to switch to algorithmic analysis to add them, then switch back to manual. It works but it isn't very intuitive.

[2018-04-29 20:39] DavidGoldwasser opened #79 "Measure options tab for manual analysis can be unresponsive for 5 minutes or more when switching to tab"
I have seen this in a number of projects, each with just just a handful of measure options. I also take the following steps before going to the first tab; this makes the pat.json file much smaller, otherwise I've spent 15 minutes waiting when there were very large
1. Delete simulation results
2. Save project

The tab looks to be active after 10-30 seconds, but may take 5 minutes or more to become

[2018-05-07 17:52] DavidGoldwasser opened #80 "Replacing weather file, with a new file by the same doesn't work"
I was creating custom AMY files to use in PAT, and tried to use the first tab in PAT to update the weather file. It appears to work, in that there are no errors but upon further inspection the old weather file is still in the project and used for the simulation. My work around is to hand copy the weather file into the project outside of the GUI.

[2018-05-10 23:43] macumber opened #81 "Path length support"
Reported by Elizabeth Gilmore

"The file name length issue with new PAT (exceeding 256 characters) has been a major problem for us"

[2018-05-11 17:48] DavidGoldwasser opened #82 "Outputs Tab - if you delete a measure the objective functions are kept"
I assumed if I delete a measure from the outputs, that it would delete the variable outputs and objective functions, but they still make it in the project, even if I skip those measures for the analysis. It still runs, but seems kind of odd. To get rid of them, I needed to add the measure back in the outputs tab, set objective function to false, and then delete the measure again.

[2018-05-23 08:20] jmarrec commented on #56
+1 for me too. This is a MAJOR inconvenience, especially for a "cross-platform" application.

[2018-05-23 08:50] jmarrec commented on #56
Start by uploading the require deps for Linux to your AWS pat-dependencies2/ folder, and add them to the [manifest.json](https://github.com/NREL/OpenStudio-PAT/blob/develop/manifest.json). That's the first thing that goes wrong, then we can see if there are more problems.

for eg

[code]

[2018-05-23 13:30] jmarrec commented on #56
I'm on Ubuntu 16.04.

I manually build OpenStudio-server (latest develop though, not the month-old 3d2dc75af2) , symlinked my ruby in ./depend/ruby, and downloaded the `mongodb-linux-x86_64-3.2.5.tgz` to place in .depend/mongo and symlinked my OpenStudio-2.5.1 in /depend/OpenStudio.

I can launch the server and see the dashboard, and I can successfully run a manual analysis

![image](https://user-

[2018-05-23 14:17] jmarrec commented on #56
Now that I have done the legwork, it'll only take an hour or so of work to finally enable linux users to use PAT like the rest of the world: you just need to host the dependencies on AWS and link them in the manifest.json like I said.
I'd do it myself, but I can't since I don't have rights to upload to AWS.

Here's the shopping list:

* I do have the `OpenStudio-server-3d2dc75af2-linux.tar.gz` if

[2018-05-23 18:29] padmassun opened #83 "Feature request: An option to enable or disable the automatic start of the local server"
Requesting an option to enable or disable the automatic start of the local server within the `Window` > `Server tools`

If PAT is _just_ used for running simulations using AWS server, the local server is not needed. The local server takes too much resources and it takes a while to stop. So it would be nice to have an option, where the automatic start of the local server can be prevented.

Thank yo

[2018-05-23 20:03] shorowit commented on #83
There was similar discussion for this feature here: https://github.com/NREL/OpenStudio-PAT/issues/34

[2018-05-24 13:13] jmarrec opened #84 "Special characters in OpenStudio model make PAT sim fail"
See: https://unmethours.com/question/31663/issue-in-parametric-analysis-tool-initial-capital-costs-associated-with-the-improvements-are-0/?comment=31696#post-id-31696

Basically the user's model has special characters in materials such as `Double pane with ½” air space R=2.04`

Running the model with the OpenStudio Results measure enabled make the simulation fail: the E+ runs succesfully, but ther

[2018-06-01 19:35] phylroy commented on #34
This is problem for weak computers that I want to send jobs to Amazon with. Starting the server takes a long time and also shutting the server down when launching more than one analysis that I want to cook.

[2018-06-04 14:14] phylroy commented on #56
Any way we can make this happen? Or is there a way I can do this locally? @kflemin @jmarrec

[2018-06-19 08:05] jmarrec commented on #84
Similar to https://github.com/NREL/OpenStudio/issues/2671 where I had found out that having an IDF with special characters in comments made it crash, and given this unmet hours question from 8 hours ago, seems it's still the case today: https://unmethours.com/question/32212/measure-and-idf-run-successfully-in-openstudio-but-not-pat/?answer=32218#post-id-32218

[2018-06-27 17:11] padmassun commented on #83
For windows I use the following workaround to forcefully stop the server.

I run the following script (saved as a .bat file) after I press the stop server button in PAT. This will kill all ruby processess and mongo databases currently running on the windows computer.
[code]

_**WARNING: Please do not run this script if you have any other processes running their own ruby or mongo databases.**_

[2018-07-01 02:48] MatthewSteen opened #85 "remove trailing whitespace from values in Summary Table report"
Minor inconvenience when copying the Summary Table from PAT into a spreadsheet for external calculations or reporting. Not an issue with the Summary Table No Baseline report.

[2018-07-01 03:01] MatthewSteen opened #86 "add district cooling and heating to End Use Comparison report"
Enhancement Request for adding DC and DH to the End Use Comparison report.

[2018-07-10 04:09] DavidGoldwasser opened #87 "Additional Analysis Files path doesn't make it into OSW's"
When I add a directory in PAT it makes it into the analysis.zip file under "lib". That is what I expect, but what isn't happening is the path doesn't make it into the analysis.json file, and as a result doesn't make it into the osw files for the individual datapoints for "file_paths"

As a result I can't use `runner.workflow.findFile(external_file_name)` from measures to find the external files.

[2018-07-10 04:27] DavidGoldwasser commented on #87
Screenshot for reference of view in PAT

<img width="1134" alt="screen shot 2018-07-09 at 9 55 07 pm" src="https://user-images.githubusercontent.com/4857055/42489256-3f281314-83c7-11e8-8398-265f729fd6d9.png">

[2018-07-10 05:33] macumber commented on #87
Yeah the intent was to be able to add paths to find files in.  Not sure about user defined folders names uploaded to server, one issue is how to specify the order to search those folders for.  Maybe unpack all the files into a particular directory with a known name?  Or just recursively add all user uploaded folder names in order?

[2018-07-23 17:25] MatthewSteen opened #88 "add project name to application instance"
Would be helpful to add the project name to each instance of the app (like the OpenStudio app) for when multiple instances are open. Currently the project name is only displayed on the first tab.

[2018-07-25 22:58] MatthewSteen opened #89 "add total energy to End Use Comparison report"
Would be nice to have total energy (electricity, natural gas, district, etc.) appear as an end use bar chart in the End Use Comparison report.

[2018-07-30 17:42] MatthewSteen opened #90 "create/export analysis report HTML files"
It would be nice if PAT created (or had the ability to export) shareable HTML files of the reports for the analysis (all models/runs) for viewing outside of the app.

[2018-07-30 17:47] DavidGoldwasser commented on #90
+1

[2018-07-31 15:53] powskier commented on #90
Yes please.  +1

[2018-08-06 16:51] nllong opened #91 "Seed should not be valid field for single run algorithm"
https://github.com/NREL/OpenStudio-server/issues/378

[2018-09-07 14:47] DavidGoldwasser opened #93 "invalid argument key names are not checked in pre-flifght"
If the argument key names have invalid characters, it would be great to catch this when the user attempts to run similar to other data fields that are checked. This came up with a user measure with dynamic arguments that pulled in the space type name as an argument. I've directed them how to clean the string, but it was hard to trouble shoot because there were no obvious errors on the server. Here

[2018-09-18 18:41] MatthewSteen commented on #90
@DavidGoldwasser and @powskier please 👍 the first comment so your +1s register with GitHub's prioritization, thanks!

[2018-10-08 12:30] agonzalezesteve opened #96 "Datapoint failure using Morris method"
I'm trying different Sensitivity Analysis algorithms for the following Test case.

[Prova.zip](https://github.com/NREL/OpenStudio-PAT/files/2455859/Prova.zip)

With FAST99 algorithm there is no problem and I obtain reasonable results but when I try the Morris method there are "Datapoint failures".

![image](https://user-images.githubusercontent.com/38532229/46608893-76e8a300-cb06-11e8-8a06-8778ce7

[2018-10-09 09:41] agonzalezesteve commented on #96
https://github.com/NREL/OpenStudio-server/issues/337

[2018-10-09 15:26] agonzalezesteve commented on #96
In "Algorithm Settings" grid jump should be levels/2 according to R documentation.

![image](https://user-images.githubusercontent.com/38532229/46680035-79bbc480-cbe8-11e8-8d33-07b21369e4ff.png)

[2018-10-09 15:26] #96 closed, assigned to nobody

[2018-11-01 20:07] DavidGoldwasser opened #97 "Support Outputs for manual analysis"
It would be nice to have a results.csv file for manual runs that show the same outputs you can see on algorithmic run of same project.

[2018-11-05 22:07] brianlball opened #98 "default value for Morris causes errors"
change default value of grid_jump to be less than levels

[2018-11-05 22:08] brianlball commented on #98
fixed in https://github.com/NREL/OpenStudio-PAT/pull/99

[2018-11-05 22:08] #98 closed, assigned to brianlball

[2018-12-14 16:44] brianlball opened #101 "OS Server can fail to start if an AMI is chosen with less than 6 cpus for the server"
OS Server requires 6 cpus for a server node.  The following containers each need a certain number of reserved cores with the minimum being 6 for the current docker swarm config in the server.

db: AWS_MONGO_CORES
queue: 1
web: AWS_WEB_CORES
web-background: 1
rserve: 1
worker: 1

For the current docker swarm setup, removing the 4 cpu AMI's (.xlarge) from possible Server selection will prevent start

[2018-12-14 16:49] brianlball commented on #101
possible solution in https://github.com/NREL/OpenStudio-PAT/pull/102

[2018-12-14 21:38] DavidGoldwasser opened #103 "datapoints on PAT manual analysis reports show up multiple times"
This seems to affect all reports except for EDAPT Export. The first report you see has each datapoint once. Every time you switch to another report you get one more additional copy of each datapoint, growing each time you switch views.

The datapoints do reset if you leave the reports tab and come back. Since "Summary Table" is always the default, it is the only report that can be cleanly viewed.

[2018-12-14 21:41] DavidGoldwasser commented on #103
@kflemin I can try to fix this but probably won't have time until a week or two into January. Before I do anything I'll see if I can reproduce on Windows, and on older 2.5.0/2.6.0 installer.

[2018-12-15 04:27] #68 closed, assigned to kflemin

[2018-12-15 05:32] #65 closed, assigned to kflemin

[2018-12-21 17:28] DavidGoldwasser opened #142 "BCL measure data prior to download"
This is an issue noticed in PAT and OS app, wasn't sure correct place to file issue. User uploaded measure to BCL yesterday. Today they are able to download it, but prior to download, the view of files in both OS App and PAT, is outdated. I confirmed in OS app that downloaded measure has newer files (with _19) at the end, while listed files do not. This created a bit of confusion as to whether the

[2018-12-21 17:37] DavidGoldwasser opened #104 "Can't download measures from BCL on mac version of PAT"
I tested in 2.7.1, 2.7.0, 2.4.0. @asparke2 confirmed it worked on windows @carlobianchi89 also could not download on mac. I don't have any issue downloading through the OS app. This issue occurs on any measure, not just specific measure or type of measure.

![screen shot 2018-12-21 at 10 10 12 am](https://user-images.githubusercontent.com/4857055/50355489-216c4180-050c-11e9-9102-c7e346e6e8d6.png)

[2018-12-21 17:52] DavidGoldwasser commented on #104
When I tried 2.7.2 I was able to see the yellow "!" in top right and open the same dialog Carlo saw.

[2019-01-23 16:26] anyaelena opened #105 "Copy change for initialize/finalize script labels"
instead of "Server Initialization|Finalization": "Analysis Initialization|Finalization"
instead of "Worker Initialization|Finalization": "Datapoint Initialiazation|Finalization"

The current naming is misleading regarding when the scripts run.  Worker scripts, for example, run 1x each per datapoint rather that once per worker.

@kflemin @nllong @rHorsey @DavidGoldwasser FYI & let me know if you th

[2019-01-25 19:35] DavidGoldwasser opened #106 "PAT reports not finding data"
Justing 2.72 in project with current OpenStudio Measure report. For some reason some registerValues are not being found even though they are in the json (and OSW) file for the datapionts. I can't dig into cause right now, but wanted to document. On the same project "End Use Comparison" report is blank

![screen shot 2019-01-25 at 12 32 50 pm](https://user-images.githubusercontent.com/4857055/51768

[2019-03-05 20:50] kflemin commented on #106
Confirmed that this was not a PAT bug.  Just a misconfiguration in the project output variables.

[2019-03-05 20:50] #106 closed, assigned to asparke2, kflemin, DavidGoldwasser

[2019-03-05 20:53] kflemin commented on #104
This is not a bug in PAT itself.  Best guess is that this is due to outdated openssl version within the OpenStudio package for mac.  Awaiting an updated installed to test.

[2019-03-05 21:58] kflemin commented on #13
Fixed in 22360bacf1e0ef3253aa81d71febd1bbd79590b4 for algorithmic mode.

[2019-03-08 18:08] macumber commented on #104
Closing here

[2019-03-08 18:08] #104 closed, assigned to macumber

[2019-03-11 19:18] ljbrackney opened #108 "Measure downloads don't appear to work in PAT"
Selecting a BCL measure (not already downloaded) and clicking the download button in PAT results in:

![download](https://user-images.githubusercontent.com/2230150/54151290-bc800380-43f7-11e9-80de-e6f35a1e76d5.jpg)

Measure manager in the App appears to be working ok.

[2019-03-14 02:39] macumber commented on #108
Is this a duplicate of https://github.com/NREL/OpenStudio-PAT/issues/104 ?

[2019-04-30 16:34] macumber opened #109 "Create standalone installer for develop3"

[2019-05-06 18:46] macumber opened #110 "Export OSM"
Add Export button on each datapoint on Run

Button opens dialog modal to select name and directory to export osm to. (ex: nam)

Create directory structure:
Name/
files/
measures/
run/
name.osm
Name/
workflow.osw

Copy seed model to top-level directory. Use the seed model listed on the PAT DA; if none, use project seed.

Copy all measures to measures directory

Copy weather file (and any other file

[2019-05-10 17:28] macumber opened #111 "Error in PAT EDAPT report"
https://unmethours.com/question/38681/xml-creator-broken-in-pat-280/

Unclear if this is a PAT, reporting measure, OpenStudio, or E+ issue

[2019-05-17 16:31] macumber commented on #111
@kflemin can you look into this and try to diagnose where the issue is?

[2019-05-17 16:42] kflemin commented on #111
@macumber, this should be assigned to @asparke2. He suspects that something's changed in an energyplus query and that the issue fix has to happen in the measure itself.

[2019-05-17 17:46] macumber commented on #111
Thanks @kflemin, @asparke2 can you look into this early next week?  We want to have issues ready for 2.8.1 by next Friday.

[2019-05-17 19:57] asparke2 commented on #111
Pretty sure this was caused by a timeseries data change in E+.  Will keep investigating.

Model in 2.7.1
![image](https://user-images.githubusercontent.com/2009290/57952793-76d63000-78ab-11e9-8bcd-3d8d05f7365b.png)

Same model converted to 2.8.0
![image](https://user-images.githubusercontent.com/2009290/57952828-8e151d80-78ab-11e9-9d9f-92a1e7dca659.png)

[2019-05-18 02:50] asparke2 commented on #111
Ok, it appears that between EnergyPlus 9.0 and 9.1 the Year and Day of Week fields in the timeseries outputs were fixed.  See screenshot below showing a 9.0 and a 9.1 file where the start year was set to 2006 and start day of week is Sunday.

![image](https://user-images.githubusercontent.com/2009290/57963525-86bd3680-78e2-11e9-81c7-48dcc8d094a6.png)

Then see comparison of the first few timesteps

[2019-05-31 17:03] macumber commented on #109
Basic task is to remove the PAT directory from develop3, move all of the CMake code to build the package to the OpenStudio-PAT repository

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/pat/CMakeLists.txt#L3

[2019-05-31 17:04] macumber commented on #109
Currently OpenStudio refers to a SHA in OpenStudio-PAT.  We need to reverse this.  In future, OpenStudio-PAT will refer to a build of OpenStudio, It will have to suck in the OS CLI, Ruby, etc that it needs in its package.

[2019-06-12 17:22] #111 closed, assigned to DavidGoldwasser

[2019-07-24 14:30] antoine-galataud opened #114 "Additional metrics for algorithmic calibration sample projects"
Hi,

I'm currently working on a building model calibration project and I'd like to use SEB sample project as a baseline: I'd reuse same seed model, measures and calibration data and compare results with the one obtained using PAT.
Apart from CSVs that can be found in sample_projects dir, is there any other place I could find training metrics? I'm particularly interested in training times, speed of

[2019-08-12 15:41] brianlball commented on #114
This question should be posted in a forum like https://unmethours.com/questions/

[2019-08-12 15:41] #114 closed, assigned to nobody

[2019-08-12 15:49] #101 closed, assigned to nllong, kflemin, brianlball, rHorsey

[2019-08-19 08:25] antoine-galataud commented on #114
done here: https://unmethours.com/question/40003/pat-2-sample-calibration-projects-metrics-and-results/

[2019-08-25 23:20] MaherJH opened #116 "issue with Adding Energy Recovery Ventilator in PAT"
I have an issue with this BCL measure "Adding Energy Recovery Ventilator", when I use it in PAT, the run failed with 0 warning and error, and cannot find any reason why.
can any one had this issue help me to fix it please?

[2019-10-21 19:15] brianlball opened #118 "warn users about server node CPU requirements"
related: https://github.com/NREL/OpenStudio-aws-gem/issues/29

We should warn the user or expose the swarm reservation calculation to the user so that the user doesnt choose an incompatible configuration.

10 c3.8xlarge (32 core) worker example:
Total_procs = 320 (32 * 10)
mongo_cores = (total_procs / 64.0).ceil  = 5
web_cores = (total_procs / 32.0).ceil  = 10
rserve = 1
web_background = 1
queue =

[2019-11-20 14:27] TaylorRoberts opened #119 "PAT 2.9 not producing .sql files"
In OpenStudio 2.7 and before editing the "output_adapter.rb" file located here
C:\openstudio-2.9.0\pat\OpenStudio-server\gems\gems\openstudio-workflow1.3.3\lib\openstudio\workflow\adapters
would allow PAT to save the .sql file in the local results datapoint.zip file regardless of the size. Editing this file in OpenStudio 2.9 still does not allow the .sql file to be saved. What needs to be editing

[2019-11-21 16:36] DavidGoldwasser commented on #119
@TaylorRoberts my first guess is maybe some code changed since 2.7 upstream of this that is removing the file before it gets here. By commenting out the `next` the file size specific conditionals don't do anything. Do smaller SQL files and OSM files still make it into the zip file with your deployment of 2.9? Can you add a log at the begging of this loop to report the files that are being inspecte

[2019-11-21 17:16] TaylorRoberts commented on #119
David,

I will try adding the log. Yes, smaller models the .sql is in the final
output.

Thanks for the help!

Taylor Roberts, PE (California), BEMP, LEED AP BD+C

Building Performance Engineer

Group14 Engineering, PBC

1325 East 16th Avenue, Denver, Colorado 80218

Direct: 720-382-1708 / Main: 303-861-2070 / Mobile: 970-208-7917

troberts@group14eng.com | www.group14eng.com

WBE / DBE / SBE Cert

[2019-11-25 15:45] DavidGoldwasser commented on #119
@brianlball @henryHorsey can OpenStudio server be deleting SQL file somewhere else. cc: @kflemin

[2019-11-25 17:18] brianlball commented on #119
@DavidGoldwasser i dont think so.

[2019-11-25 17:31] DavidGoldwasser commented on #119
@TaylorRoberts are you running the `openstudio_results` measure? I'm wondering if the zone conditions section of that populated with data. That will confirm that the energy plus run was complete and that the runner, at the time that measure was run, had access to the time series SQL data.

[2019-11-25 20:11] TaylorRoberts commented on #119
@DavidGoldwasser I tried adding the openstudio_results measure and it still is not creating a .sql file. I am not having luck logging it either. I added logger.info("#{file.name}") but nothing is being added to the log file. Any other ideas?

[2019-11-25 20:24] brianlball commented on #119
can you post the log file

[2019-11-25 20:33] TaylorRoberts commented on #119
[06e74760-2ab0-4a5b-b57f-f896e52e14d4.zip](https://github.com/NREL/OpenStudio-PAT/files/3888602/06e74760-2ab0-4a5b-b57f-f896e52e14d4.zip)
@brianball attached is all the output files

[2019-11-25 20:51] brianlball commented on #119
that all looks normal...

[2019-11-25 21:07] brianlball commented on #119
I suspect that this might have something to do with the Server using the CLI to run workflows, instead of the workflow-gem.  That happened around 2.7.0 but i'm not sure how that effects PAT

[2019-11-26 14:51] TaylorRoberts commented on #119
Where is the CLI code located in the OpenStudio files? Would it be possible to edit that file to allow large file sizes when running PAT?

[2019-11-26 15:11] brianlball commented on #119
To change the gems in the CLI, you can try an initialization script like this one
https://github.com/NREL/OpenStudio-server/blob/develop/doc/initialization_scripts/set_gem_version.sh
I know this works on stand alone servers like AWS, but i'm not sure about PAT.
Your other option would be to post on unmethours.com and look for a different way to get the sql file out.

[2019-11-27 17:44] DavidGoldwasser commented on #119
@TaylorRoberts just for reference, what is the biggest SQL file you have seen come through. I don't It may be different than the commented out limit. I saw you posted on UH, will be interesting to see if others have hit this as well. One work around could be to write a reporting measure that save the SQL file off to cloud resource such as Amazon S3 or Dropbox. I think we must have code removing th

[2019-11-27 20:43] brianlball commented on #119
@TaylorRoberts I made a branch of the workflow gem called large_files which has your #'s in them.  Try using the worker initialization script (after changing the extension from .txt to .sh) with the following arguments

[
  "openstudio-workflow",
  "NREL/openstudio-workflow-gem",
  "large_files"
]

[set_gem_version.txt](https://github.com/NREL/OpenStudio-PAT/files/3898700/set_gem_version.txt)

Thi

[2019-11-28 00:53] brianlball opened #121 "PAT gui doesnt delete scripts folder"
if you run with initialization scripts, and then try to delete them, to underlying /scripts folder still remains and gets bundled and run again.

[2019-12-02 14:11] jmarrec opened #122 "PAT v2.6.1 Measure Option Configuration Window not able to scroll vertically to show all user arguments"
Moved from https://github.com/NREL/OpenStudio/issues/3217, not sure if still relevant and not outdated (if so, please just close), reported by @chrisbalbach

----

**OS Version:** OS 2.6.1 (Win64)
**Native OS**: Window 7 Professional
**OS Application**: PAT

**### Issue Description**
Issue occurs when applying and creating/configuring measure option(s) - PAT Manual mode - for "Create Residential S

[2019-12-02 14:24] TaylorRoberts commented on #119
@brianball thank for for digging into this. Is there any documentation on how to run the initialization script? I am not familiar with this.

[2019-12-02 16:00] brianlball commented on #119
there's not a lot of documentation for it, but basically you want to do this is PAT on the first TAB

![image](https://user-images.githubusercontent.com/2235296/69974288-2c806d80-14e2-11ea-94eb-4b2e6311b0df.png)

[2019-12-02 16:20] TaylorRoberts commented on #119
@brianlball is this possible while running PAT in manual mode? Or will it only work for an algorithmic analysis?

[2019-12-02 16:23] brianlball commented on #119
oh sorry, i guess not.

[2019-12-02 16:26] TaylorRoberts commented on #119
@brianlball is there a way to edit the CLI directly? Or is it not downloaded with OS?

[2019-12-02 16:32] brianlball commented on #119
@kbenne @kflemin might know

[2019-12-02 20:07] DavidGoldwasser commented on #119
@TaylorRoberts I assume you want to make a branch of this or fork it
https://github.com/NREL/OpenStudio-workflow-gem

Edit that, then update the arguments in Brian's earlier post to your custom version of the ruby gem. This would only work on cloud vs. local run (not sure if works on manual cloud but it might).

If you are running on local then you may dig around in the `temp_dir` directory that i

[2019-12-02 20:22] TaylorRoberts commented on #119
@DavidGoldwasser we only do local runs, not on the cloud so we need to be able to get the .sql file while running the manual version of PAT. Is there any way to edit the CLI directly on my computer so that it never removes the .sql file?

I will try looking in the temp_dir to see if the .sql file is there.

[2019-12-02 22:47] TaylorRoberts commented on #119
@DavidGoldwasser the .sql is in the temp_dir location, but we typically have 50+ runs and it would be very difficult to move all of the .sql files. Does it help that it is in the temp_dir? Would it be easier to get it to save in the .zip file?

[2019-12-02 23:49] DavidGoldwasser commented on #119
@TaylorRoberts Because the workflow gem being used now is within the CLI, I don't think you can edit it as easily has you had earlier. If you do a cloud run, Brian's approach should work. For now there are a few options.

1. You can re-name the temp_dir directory and then quit PAT and it will stay there and you will have access to all of your runs. There should be a results.csv file in the local r

[2020-03-03 17:54] shorowit commented on #105
Just got confused by the names in PAT again today.

[2020-03-03 18:25] brianlball commented on #105
https://github.com/NREL/OpenStudio-PAT/pull/131

[2020-03-06 20:59] anyaelena opened #133 "Local server should start only as needed"
For 3.1 release of PAT, the local OSS instance should not start be default.  For users interacting with a remote instance of OSS, this will conserve resources and make the UI more responsive.

[2020-05-01 15:28] tijcolem commented on #109
This is done. Was part of the OpenStudio 3.0.0 milestone release. https://github.com/NREL/OpenStudio-PAT/releases/tag/v3.0.0

[2020-05-01 15:28] #109 closed, assigned to axelstudios

[2020-05-04 17:30] DavidGoldwasser commented on #36
Just wanted to update that this has also been an issue on remote runs as well. First datapoint on each worker runs, but then future datapoints see that component was downloaded but then fail to find it. As a result we ended up using ChangeBuildingLocation instead. Maybe this belongs in workflow gem or core OpenStudio?

[2020-05-04 21:23] kflemin commented on #36
@DavidGoldwasser it might be worth testing outside of PAT completely. It could be a server issue.

[2020-05-08 15:00] brianlball opened #138 "non-deterministic zip issue"
when run through PAT, projects will show up missing measure.rb or measure.xml files after being unzipped on the server.  This is non-deterministic.

if a PAT project does run successfully, submitting through CLI works everytime.
if a PAT project does not run successfully, submitting through the CLI fails everytime.

Windows host.

[2020-05-10 14:45] brianlball commented on #138
server side fix: https://github.com/NREL/OpenStudio-server/pull/561

[2020-05-10 14:45] brianlball commented on #138
we should look at forcing sort order when making the zips

[2020-05-11 13:59] ljbrackney opened #140 "PAT Creates Duplicate Copies of Datapoints when Navigating to End Use Comparison"
After completing an analysis, datapoints show up in the summary table as expected.  Navigating to the End Use Comparison also works as expected, but navigating back to the summary table shows that all data points have been duplicated.  This happens again with each roundtrip from Summary to End Use Comparison and Back.  Navigating to the Run tab and back to Reports resets the datapoint listing, whi

[2020-05-12 21:11] tijcolem commented on #140
@ljbrackney I moved your issues from OpenStudio to OpenStudio-PAT project so we can tag the correct folks to look into this issue.

We also released [OpenStudio-PAT v3.0.0](https://github.com/NREL/OpenStudio-PAT/releases/tag/v3.0.0)  Going forward new releases for PAT will be on this project page as it is now its own installer.

[2020-05-16 16:15] #138 closed, assigned to nobody

[2020-05-16 16:16] brianlball commented on #133
https://github.com/NREL/OpenStudio-PAT/pull/139

[2020-05-16 16:16] #133 closed, assigned to kflemin

[2020-05-18 08:35] jmarrec opened #145 "Upload Linux dependencies to S3"
cf https://github.com/NREL/OpenStudio-PAT/pull/94#issuecomment-627016149

Then update the manifest.json accordingly.

[2020-05-25 20:38] MatthewSteen commented on #56
+1 for me. Would like to be able to use it on my personal machine.

[2020-06-03 01:55] tijcolem commented on #145
@jmarrec Do you have links to your linux server and ruby 2.5.5 builds? I will add these to s3.

[2020-06-04 03:17] tijcolem commented on #145
This is now done. Ref de4cbb3aa346920c1fe2d1ea7848c19a4f795c34

[2020-06-04 03:17] #145 closed, assigned to nobody

[2020-06-08 08:17] jmarrec opened #146 "Upload Linux dependencies to S3 - Adjustments"
* TAR GZ for openstudio: When extracted, the folder needs to be `OpenStudio` not `openstudio`, or it can't find it: `depend/OpenStudio/bin/openstudio: not found`

@tijcolem

[2020-06-09 08:39] jmarrec commented on #146
This appears to be the only change needed. I created a fresh clone of the OpenStudio-PAT repo.

Full commands:

[code]

**Temporary workaround**:
[code]

[code]

[2020-06-11 16:06] brianlball commented on #56
@jmarrec @MatthewSteen This can be closed now?

[2020-06-11 16:09] brianlball commented on #83
PAT local server is now off by default https://github.com/NREL/OpenStudio-PAT/pull/139

[2020-06-11 16:09] #83 closed, assigned to nobody

[2020-06-11 16:10] MatthewSteen commented on #56
@brianlball I haven't had a chance to build and test yet.

[2020-06-11 16:11] brianlball opened #148 "Add button to export OSA and Zip files"
Please add a button that will export the OSA and the Zip files so the project can be run through the meta_cli or other use cases

[2020-06-11 16:12] brianlball commented on #148
awesome thanks https://github.com/NREL/OpenStudio-PAT/pull/147

[2020-06-11 16:12] #148 closed, assigned to kflemin

[2020-06-11 16:25] jmarrec commented on #56
This can be closed yeah. There is a specific issue for changing one s3 deps and then it'll work. I tested on another machine already

[2020-06-12 18:32] rwadhwa910 opened #149 "Error with Energyplus Economic measure."
While running a PAT analysis, I used an Energyplus measure (ExcelDAT Tariff Selection),  I got an error (Lifecycle cost User Price escalation Fueloil#1 and Fueloil#2Failed to match against Enum values). The same issue also came when I used the tariff file for Austin Energy Tariff selection. I was able to resolve it by changing the Fueloil#1 to
![PAT Error](https://user-images.githubusercontent.com

[2020-06-20 16:42] brianlball opened #151 "add download datapoint.zip OSA options to PAT"
new OSA arguments have been added to Server to make posting of datapoint files from worker to server optional. https://github.com/NREL/OpenStudio-server/pull/571

expose these arguments in the PAT GUI

[2020-06-20 16:43] brianlball commented on #151
https://github.com/NREL/OpenStudio-PAT/pull/152

[2020-06-24 22:33] DavidGoldwasser opened #154 "Measure Update doesn't function for some measures on some Windows machines"
This is tested with PAT 3.0.  on both mac and windows and it works for me, but I watched @rwadhwa910 use it and he couldn't see the updates. We are using same PAT project (clean checkout from repo) and have the same my measures directory  (also clean checkout from repository). Not sure of the cause but here is screenshot of what is should look like when using AEDG repository for my measures.

![ae

[2020-06-24 22:48] rwadhwa910 opened #155 "Not able to update the measures in PAT 3.0 Application"
After updating the measures on the local repository, I cannot see the update icon on my Windows laptop in PAT application. Although the same measures when opened in MAC PAT application shows update icon. I have attached the screenshot for the PC.

![Screenshot (15)](https://user-images.githubusercontent.com/63880759/85635168-7b3a5400-b63a-11ea-95c9-dcf2a493e4cf.png)

[2020-06-25 18:44] rwadhwa910 opened #156 "Whenever I rerun my PAT model, I am getting a different error."
I have got 4 different errors while running the PAT model. Every time I get a different error and the simulation fails. I have attach four screenshot each depicting a different error.
![PAT error](https://user-images.githubusercontent.com/63880759/85780238-a166ff00-b6e1-11ea-8d6f-61b9564edcc0.PNG)
![PAT error1](https://user-images.githubusercontent.com/63880759/85780243-a2982c00-b6e1-11ea-9c21-70f

[2020-06-25 18:47] rwadhwa910 commented on #154
This is the issue that I was having with my machine.

After updating the measures on the local repository, I cannot see the update icon on my Windows laptop in PAT application. Although the same measures when opened in MAC PAT application shows update icon. I have attached the screenshot for the PC.
![85635168-7b3a5400-b63a-11ea-95c9-dcf2a493e4cf](https://user-images.githubusercontent.com/63880759

[2020-06-25 18:48] #155 closed, assigned to nobody

[2020-06-25 18:48] rwadhwa910 commented on #155
Duplicate Issue exists https://github.com/NREL/OpenStudio-PAT/issues/154

[2020-06-25 19:40] DavidGoldwasser commented on #154
@rwadhwa910 You screenshot shows K12 PAT project. Those measures were already updated on the GitHub branch you were using. can you put screenshot up of the same PAT project as my screenshot `pat_sddc_office`. I think that is what you showed be on Teams yesterday.

[2020-06-25 22:13] rwadhwa910 commented on #154
@DavidGoldwasser  I can see the update icon now on my machine.

[2020-06-25 22:40] DavidGoldwasser commented on #154
Going to close this for now but will re-open if we can confirm this happening elsewhere. I'm aware of one other report, but it involved a measure that was copied without giving it a new UUID.

[2020-06-25 22:40] #154 closed, assigned to nobody

[2020-06-25 22:46] DavidGoldwasser commented on #156
Thanks @rwadhwa910 thanks for documenting this. Don't have an answer for this now, but we have seen evidence that OSW files when run multiple times with OpenStudio 3.0 give different results, with model objects being passed in, in a different order. As a note at least on one of these I notice that you are using PAT project with "RaceToZero" instead of the "sddc" one. That one is older and has not

[2020-06-27 20:28] MatthewSteen commented on #56
Just installed [v3.0.1](https://github.com/NREL/OpenStudio-PAT/releases/tag/v3.0.1) and it's not working for me. I'm new to Linux so might not be installing it correctly, but it looks like an issue with Perl (see last terminal block). Here are my notes...

1. Installed with Ubuntu Software.
2. After install it doesn't appear in `Show Applications`.
3. Clicking the `pat` file in `/usr/local/Paramet

[2020-06-29 16:21] tijcolem commented on #56
Hi Matt. Can you try running with the .`/ `before pat?
[code]

When runnin just `pat` bash is looking in your PATH env paths and it's not finding it which is why you got that `Command pat not found`

You can also add in the pat path to your ~.bashrc so you can run just using `pat` in any directory in a bash terminal

open in a text editor (eg. `vi ~.bashrc)`
add this line to append pat path to PAT

[2020-06-29 19:45] jmarrec commented on #56
@MatthewSteen My own notes, where it works fine:

[code]

Works.

Side note: Some work is probably possible on the installer to avoid avoid to create symlinks, and also the deb is huge (610MB, 1.7 GB installed). @tijcolem

[2020-06-30 17:46] DavidGoldwasser commented on #156
I'll need to try and reproduce this since I can't really see what the failure is on many of them. The last change building location one looks like outdated resource file; @rwadhwa910 did you do any measure updates from BCL between runs. I'm using all repo measure (which is what is on the repo branch)
https://github.com/DavidGoldwasser/PAT_projects/tree/os30_upgrade

[2020-06-30 17:51] rwadhwa910 commented on #156
@DavidGoldwasser These errors that I have put here are from PAT-SDDC_Primaryschool project.

@DavidGoldwasser Yes I am using the repo branch.https://github.com/NREL/OpenStudio-PAT/issues/156

[2020-07-01 16:04] rwadhwa910 commented on #156
@DavidGoldwasser  Yeah, I am using all the latest repo measure from your personal repository.

[2020-07-03 02:07] MatthewSteen commented on #56
@tijcolem that worked, thanks. Feel free to close. Here are some additional notes...

I did have to install `libgconf2-4` per this message...

`error while loading shared libraries libgconf-2.so.4 cannot open shared object file`

Also, a few other minor issues.

1. `Failed to load module "canberra-gtk-module`
2. New Project Name bar overhangs

![Screenshot from 2020-07-02 20-10-09](https://user-im

[2020-07-21 16:10] #151 closed, assigned to brianlball

[2020-08-04 15:44] ljbrackney opened #159 "PAT 3.0.1 Local Server Fails to Start on OSX 10.15.6"
New install of OS 3.0.1, OS App 1.0, and PAT 3.0.1.

OS App loads and runs a 2.9.1 model as expected.
Loading 2.9.1 PAT project based on that SEED goes okay, but server fails to start.  OpenStudio Measure Manager process starts okay.  Ruby processes start, then collapse.  Developer console dump follows.

Selected Server URL set to:  http://localhost:8080
vendor-ad64e72158.js:5 MeasureManager: [202

[2020-08-04 16:24] brianlball commented on #159
can you run the start_local command from a command line with the --verbose flag and post the results:

/Applications/ParametricAnalysisTool-3.0.1/ParametricAnalysisTool.app/Contents/Resources/ruby/bin/ruby /Applications/ParametricAnalysisTool-3.0.1/ParametricAnalysisTool.app/Contents/Resources/OpenStudio-server/bin/openstudio_meta --verbose start_local --worker-number=3 --energyplus-exe-path="/App

[2020-08-04 21:53] brianlball commented on #159
@ljbrackney can you post the rails.log from the <ProjectFolder>/logs folder?

[2020-08-04 22:56] tijcolem commented on #159
I'm guessing this is the reason with osx Catalina moving the core libs.  https://github.com/rails/execjs/pull/89
We can either patch via our forked branch gem or apply a .patch file on the server gem build step.  I'd prob vote the former and then put a note by the Gemfile sourced branch version.

[2020-08-04 23:07] tijcolem commented on #159
@ljbrackney you can actually manually patch this gem yourself in the pat install build folder. If you installed it to the default location, the file that needs to patched is:

`/Applications/ParametricAnalysisTool-3.0.1/ParametricAnalysisTool.app/Contents/Resources/OpenStudio-server/gems/gems/execjs-2.7.0/lib/execjs/runtimes.rb `

Then just apply this change here - https://github.com/paulmakepeace

[2020-08-05 12:49] ljbrackney commented on #159
Manually patching the gem isn't really an option - I'm going to have students that will be installing this and expecting it to run.

[2020-08-05 12:55] ljbrackney commented on #159
This fixed the problem.  Thanks!

This does need to get fixed in an installer, as I'm going to have students trying to run PAT.

[2020-08-05 19:24] tijcolem commented on #159
Great! I'll post a new installer here soon with a patched version of this.

[2020-08-07 21:52] tijcolem commented on #159
@ljbrackney Can you please try this patched osx installer and see if that addresses this execjs issue?

https://openstudio-pat-ci-builds.s3-us-west-2.amazonaws.com/patch-execjs-gem/ParametricAnalysisTool-3.0.1-Darwin.dmg

If this fixes it, I will update the github release page.

[2020-08-07 22:51] #159 closed, assigned to tijcolem

[2020-08-07 23:17] brianlball commented on #159
This worked for me

[2020-08-11 19:16] DavidGoldwasser commented on #87
I just wanted to add some details to screenshot example above, and layout out the use case a bit. The use case would be for a model or energy plus measure to pull in an external model or other file type like floorplan.json, gbxml file, or in some cases csv file. Another use case would be for a reporting measure to pull in a csv file of time series metered data.

1. In the example above the directo

[2020-08-11 19:21] DavidGoldwasser commented on #87
One main limitation of `findFile` that I should point out is that it stops the first file it finds of the requested name. I don't know for sure the order it looks through the directories, but the point is when using this all of the names should be unique, so you should not make a bunch of unique directory names with non-unique file names like `in.osm` in it. It won't through an error but may give

[2020-08-11 19:27] DavidGoldwasser commented on #87
Some of the files I showed above may have been added by OpenStudio Workflow gem, not OpenStudio server. When passed in an OSW that looks like this
[code]

The out.osw looks like this. I assume those are added ahead of the run and available to measures. That could inadvertently cause problems.
[code]

[2020-08-11 19:47] DavidGoldwasser commented on #87
Ok, so the test about nested search with `findFile` wasn't all bad. I did in fact confirm that it will not search nested directories, but I also found that I can provide a partial path instead of a file name. Here are two scenarios

Full path included in OSW
[code]

In this scenario I can use an argument of just `ofice_plan.json`

In the second scenario only the path to `lib` is defined
[code]
In

[2020-08-11 19:55] DavidGoldwasser commented on #87
PAT could change to replace `lib` with `files` and what is needed would already be in the expanded OSW but I expect that would create lots of headaches. It would also be odd to duplicate content to both `lib` and `files`

Having OpenStudio server include `../../lib` and potentially sub-directories of saved in OSA seems like best approach.

In considering why `files` is included I think that goes b

[2020-08-11 21:22] DavidGoldwasser commented on #87
Development Plan for OpenStudio 3.1
1. Will update OpenStudio Analysis gem to add `../../lib` to OSW's then measures could use `short_path/filename.ext` where `short_pat` is the name they entered in pat for "Directory Name to Unpack to on Server"

There is an open issue for supporting additional files in manual mode (it already works if you go to algorithmic to setup and then go back to manual), b

[2020-08-11 21:23] DavidGoldwasser commented on #78
Want to add this in conjunction with work on issue #87 but this doesn't have to be in PAT 3.1. If you want to include it in that I'm happy to test it.

[2020-08-11 22:53] brianlball commented on #87
https://github.com/NREL/OpenStudio-analysis-gem/pull/44

[2020-08-12 04:14] DavidGoldwasser commented on #149
Closing this, is issue with Tariff measures, not with PAT

[2020-08-12 04:14] #149 closed, assigned to nobody

[2020-08-27 16:06] MatthewSteen commented on #119
We also experienced this with a simple small project and our workflow relies on the SQL file too. Any updates?

PAT v2.9.0 = [20057-PAT-SD-Matt.zip.txt](https://github.com/NREL/OpenStudio-PAT/files/5137514/20057-PAT-SD-Matt.zip.txt)

[2020-08-28 16:08] brianlball commented on #87
@DavidGoldwasser this is fixed by https://github.com/NREL/OpenStudio-analysis-gem/pull/44?

[2020-08-28 17:20] DavidGoldwasser commented on #119
Thanks for the file @MatthewSteen we are looking at it.

[2020-08-31 15:47] MatthewSteen commented on #119
FYI we were able to fix our project by turning all the OutputVariables off in the seed model, which allowed PAT to produce the SQL file.

@johnrkramer
@tjcain91

[2020-08-31 15:50] brianlball commented on #119
hmmm, how did that fix the problem?  did it just reduce the file size of the .sql file?  is the underlying problem the file size check? @MatthewSteen

[2020-08-31 15:59] MatthewSteen commented on #119
@brianlball not sure. The seed model's SQL size _with_ the OutputVariables was only 59 MB when run outside of the the PAT project above. I've had other projects with similar SQL size _without_ OVs that have worked in PAT. Here's the seed model _without_ the OVs for comparison.

[20057_baseline_noOVs.osm.txt](https://github.com/NREL/OpenStudio-PAT/files/5151303/20057_baseline_noOVs.osm.txt)

[2020-09-17 21:53] #87 closed, assigned to kflemin

[2020-09-21 15:53] rwadhwa910 opened #162 "The OSM download file options in the results tab is not working in PAT"
Once the simulations runs successfully, there is an option to download the output OSM file in the results tab this is not working for my windows machine.

OS Windows 10

![PAT OSM](https://user-images.githubusercontent.com/63880759/93790476-52513d00-fbf0-11ea-99e8-d3fc85fc2dc1.PNG)

[2020-10-09 19:21] MatthewSteen commented on #56
After installing `3.1.0-rc2` and trying to uninstall it, there doesn't appear to be a way to uninstall PAT. Tried from Ubuntu Software, and `dpkg`.

![image](https://user-images.githubusercontent.com/8397034/95623600-ceda7d00-0a32-11eb-95ad-b2d8a3c565a5.png)

![image](https://user-images.githubusercontent.com/8397034/95623439-7acf9880-0a32-11eb-9f82-ce6030c4d775.png)

[2020-10-21 21:15] kmark86 opened #169 "PAT wont run. Server connection issue?"
I'm trying to run the simulations on PAT. However,  I keep getting a server error. I've tried using the Server Troubleshooting Tools to Start and Ping, but nothing has worked. How can I resolve this? Thanks!
![PAT ERROR](https://user-images.githubusercontent.com/73257505/96788089-def24500-13c0-11eb-8e5f-29b3b696b51b.JPG)

[2020-10-21 22:02] tijcolem commented on #169
Hi, It looks like you are windows from looking at the paths. Do you have another PAT version installed and/or running? Only one version can be running.  Are there are any logs in your PAT workspace directory?  Should be this:

`C:\Users\kmark\Documents\Test\MidRise PAT(3)\logs `

If you running from a previous PAT project and the PAT application does not shut down gracefully, the mongo lock file m

[2020-10-23 21:51] rwadhwa910 opened #170 "Upgrading the measures is not upgrading the Arguments in the measure"
I am getting an error in Create Baseline Building Measure where the default argument for climate zone is Ashrae 169-2006 which is obsolete and does not matches with the possible argument values in the measure.rb file. Even after updating the measures from the github repo still the default values are there keeping the measure failing. I think after a measure is updated the arguments should also upd

[2020-10-23 22:49] rwadhwa910 commented on #41
The same issue is happening with one of my model where the PAT is not able to show which measure is failing, the other thing is if i go and see the out.osw file there are no failures for any measures which means the measure is not failing the model is failing in between two measures, there are no warning in any of the measure in the out .osw file.

![PAT variable_notgetting_update](https://user-im

[2020-10-26 19:45] DavidGoldwasser commented on #41
@kbenne not sure if it is server. It may actually be workflow gem. I think something needs to be in the extended out.osw file from a run. Then PAT could read the error is there. Seems like instead of making new workflow steps that sits between measure, maybe this can be logged in the workflow step of the measure that is getting ready to run. Then nothing would change in PAT. @nllong and @henryHors

[2020-10-30 15:06] MatthewSteen opened #171 "Escape out of viewing Reporting Measure"
When viewing Reporting Measures from the Run tab it would be nice to be able to use `Esc` to close window rather than having to click `Ok`, which is the behavior that other tabs have (e.g. when adding measures).

[2020-11-09 17:13] snlavu opened #172 "Server Status issues- repeated issue"
The server status has been very problematic. How can I bypass this? I had one trick working until friday- where i would start the run and continuously ping the server from the Server tools option. Now the program doesn't even give me that much time and just fails without even starting.

[2020-11-09 17:20] brianlball commented on #172
local server or remote?

[2020-11-09 18:07] snlavu commented on #172
local server. Although I started a new PAT and it went through. I do need to know a permanent solution for this since I was originally planning on using the same PAT for different SEED projects and seems like once the PAT fails, it becomes useless for running any permutations and combinations.

[2020-11-09 18:10] brianlball commented on #172
whats your operating system and version?
Did you try to reboot your computer and try a fresh PAT run?

[2020-11-09 18:59] snlavu commented on #172
I have Windows 10 and PAT-3.1.0
I tried several reboots as well as uninstalling and installing Open Studio as well as PAT. None worked.
creating a new PAT helped but I still have to keep pinging the server after the simulation starts. I do have a successful run but for future runs please advise.

[2020-11-16 16:47] brianlball commented on #169
any updates on this @kmark86 ?

[2020-11-19 03:53] DavidGoldwasser commented on #103
This is still valid in 3.1.0

[2020-11-19 03:54] DavidGoldwasser commented on #140
This is still valid, but I'll close it as it is duplicate of issue #103

[2020-11-19 03:54] #140 closed, assigned to nobody

[2020-11-30 16:48] tijcolem opened #173 "Update mongo and redis to latest version"
Update mongo and redis images to use the latest supported versions.

Current server mongo: mongo:3.4.10
Newest mongo: 3.6.21 or 4.4.2 (if non-breaking)

Current server redis: 4.0.6
Newest redis: 6.09

[2020-12-09 19:02] MatthewSteen opened #174 "cancel run if user terminates server while running analysis in algorithmic mode"
User's can get trapped on the Run tab with the following steps. This was with 3.1.0 on Ubuntu.
1. Start cloud server
2. Start running an analysis
3. Terminate the cloud server
4. Try to navigate to another tab

![image](https://user-images.githubusercontent.com/8397034/101674577-e7a4e600-3a15-11eb-901e-4f7516f64c1e.png)

Workaround...
1. Re-Start cloud server
2. Wait
3. `Run Entire Workflow`
4. Wa

[2020-12-11 13:43] tijcolem commented on #172
@snlavu  If this is still problematic, could you please check `logs` dir in your PAT project workspace?  It could be related to something going on rails, mongo, or something with your Windows machine.  You can also send these files to us as well.

[2020-12-11 16:41] MatthewSteen opened #175 "add Save As keyboard shortcut to File menu"
Feature request to add a `Ctrl + Shift + S` keyboard shortcut to the File menu for Save As, which is the only command missing one.

[2020-12-11 16:58] MatthewSteen opened #176 "optional measure arguments are automatically selected for Algorithmic analyses"
I've noticed that optional measure arguments are automatically selected for `Algorithmic` analyses, which does not align with the behavior of `Manual` mode or the OpenStudio App. See the first argument in the measure below, `Availability Schedule Name`. PAT 3.1.0 on Ubuntu.

Measure for testing = https://github.com/MatthewSteen/MS-AREN-6960-Masters-Report/tree/main/measures.

__Original Measure__

[2021-01-22 17:28] tijcolem commented on #118
Consider moving this tohttps://github.com/NREL/OpenStudio-server-helm.  Include calcs for cluster size.

[2021-02-12 23:47] DavidGoldwasser commented on #79
Just to update this, it is slower on manual projects that have design alternatives than on algorithmic projects.

[2021-03-19 18:43] #173 closed, assigned to tijcolem

[2021-04-23 14:25] h9a2n3d5 opened #180 "PAT runs forever"
Hi!

I'm trying to use PAT application for an internship project but I just cant make it work. When I run an analysis, PAT stays on "Analysis started" and keeps on running forever.
I've read about the print issues ($ etc...) so I just made a test version as simple as possible with the OSM file of my project (library of 2 stories), a weather file, 1 measure, 1 option and 1 alternative. I also place

[2021-04-23 14:32] brianlball commented on #180
Try running the sample projects here https://github.com/NREL/OpenStudio-PAT/tree/develop/sample_projects

This is also a good resource with examples  https://www.dbooks.org/building-energy-modeling-with-openstudio-3319778099/

[2021-04-23 21:43] h9a2n3d5 commented on #180
I tried with one of the sample you linked me : Office_Study (seed & weather), and with 1 option ("Increase R-value of Insulation for Roofs to a Specific Value") and 1 alternative.

It still doesnt work and runs forever with "Analysis started".

Should I try to uninstall and reinstall PAT ?

[2021-04-23 21:46] h9a2n3d5 commented on #180
I dont know if it has to do with it but usually the local server doesnt work when I launch the application. I have to "Start local server" and then "Ping server and set status" so the server is started and the server status is ok.

[2021-04-23 22:46] brianlball commented on #180
the local server is off my default.  you have to manually start it.

[2021-04-23 22:47] brianlball commented on #180
what version are you running?  what operating system?

[2021-04-23 22:58] h9a2n3d5 commented on #180
PAT 3.1.0
Windows 10 x64

[2021-04-24 00:01] brianlball commented on #180
if you open the developers console windows from one of the top drop downs, you should see the commands PAT is running when it starts the server and any error messages.  you can get more info by copying the commands and running them from a terminal or power shell.

[2021-04-24 21:27] h9a2n3d5 commented on #180
I did this and when the analysis is started, those 3 lines are written over and over :
"update datapoints succeeded
Updated Datapoints with Reports
datapoints after download"

So is it supposed to be good and it's just my laptop which is very slow ?

I have some errors before I start the analysis but they are all linked to the server status which is on and ok afterwards.
And I also have 2 warnings

[2021-04-27 16:36] brianlball commented on #180
can you post the developer console log here?  an example of what that looks like is here
![image](https://user-images.githubusercontent.com/2235296/116279098-62139f80-a744-11eb-8c0f-e4cac9771bf6.png)

[2021-04-27 18:27] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116293192-9bf49e00-a764-11eb-9b6d-d28d522a6f15.png)

[2021-04-27 18:28] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116293345-c7778880-a764-11eb-8173-f15d48f3acb1.png)

[2021-04-28 21:16] brianlball commented on #180
1. can you try running this command in a power shell terminal and post the results (assuming a server has started):

C:\ParametricAnalysisTool-3.1.0\pat\ruby\bin\ruby.exe C:\ParametricAnalysisTool-3.1.0\pat\OpenStudio-server\bin\openstudio_meta run_analysis --debug --verbose "C:\Users\andre\Desktop\testPAT\testPAT.json" 'http://localhost:8080'

2. try moving the testPAT files to a folder like c:\p

[2021-04-29 01:17] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116491118-1dccf000-a867-11eb-8411-21ac0edfb849.png)

[2021-04-29 01:26] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116491536-18bc7080-a868-11eb-9756-22c8302a99c4.png)
![image](https://user-images.githubusercontent.com/83079007/116491586-38ec2f80-a868-11eb-8b77-2af818722527.png)

[2021-04-29 01:26] h9a2n3d5 commented on #180
I moved testPAT to c:\ and it's just doing the same thing
This is what I get on the server

[2021-04-30 14:00] brianlball commented on #180
the powershell windows says it cant find the .json file, which is the project description.  make sure that file and the .zip file exist and those paths are correct.  Also try to use the example projects from the PAT directory.  those are known to work.

[2021-04-30 15:13] h9a2n3d5 commented on #180
I tried the Office study sample project and it still doesn't work
This is what I get
![image](https://user-images.githubusercontent.com/83079007/116715828-127fde80-a9a5-11eb-85db-7cc0e4b95578.png)
![image](https://user-images.githubusercontent.com/83079007/116715864-1b70b000-a9a5-11eb-9a9b-896b9c741c70.png)
![image](https://user-images.githubusercontent.com/83079007/116715904-262b4500-a9a5-11eb-9f

[2021-04-30 15:18] h9a2n3d5 commented on #180
And this is the folder of my test project testPAT
![image](https://user-images.githubusercontent.com/83079007/116716496-d1d49500-a9a5-11eb-9c55-6423ec4f564e.png)

[2021-05-03 14:16] brianlball commented on #180
can you post the full console log.
also, on the analysis page, the can you click the log button (in between JSON and Snow Cluster) and post that log.

[2021-05-03 15:27] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116896597-689d8d80-ac02-11eb-94e1-e44f03cf9dba.png)
![image](https://user-images.githubusercontent.com/83079007/116896628-718e5f00-ac02-11eb-9c66-d93b32def003.png)
![image](https://user-images.githubusercontent.com/83079007/116896668-79e69a00-ac02-11eb-834f-706aceda4aa2.png)
![image](https://user-images.githubusercontent.com/83079007/1168

[2021-05-03 15:27] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/116896760-8e2a9700-ac02-11eb-9796-339470095a85.png)

[2021-05-03 15:55] brianlball commented on #180
okay there we go.  looks like there are errors exporting the OSA and its coming from blank or "" values for arguments.   look back at the red messages and try to correct the ones that say "this will most likely cause errors on Server".  those arguments need some kind of default value.

[2021-05-03 15:59] h9a2n3d5 commented on #180
Yes I did that. That's why there are 5 errors at first, then still 1 because I missed it, and finally the analysis with supposedly no mistakes starts right after with "(16) ["Secondary School", ..."

[2021-05-03 16:15] brianlball commented on #180
okay, so are there datapoints being created in the server GUI (localhost:8080)?

[2021-05-03 16:52] h9a2n3d5 commented on #180
No...
![image](https://user-images.githubusercontent.com/83079007/116906554-6a6d4e00-ac0e-11eb-830a-ccb831665b67.png)

[2021-05-03 16:54] h9a2n3d5 commented on #180
When I click on "Analysis Data" in "Data and Visualizations" in the server, I got this. Is it normal ?
![image](https://user-images.githubusercontent.com/83079007/116906765-a99b9f00-ac0e-11eb-8d6d-474c31a291fb.png)

[2021-05-03 17:04] brianlball commented on #180
okay, i think the analysis you are running requires Algorithmic mode, which is not avail on a local server.  Try running the Office HVAC project.  that should be a manual run and not algorithmic.

if you want to run algorithmic, you'll need to use the cloud providers (AWS, etc)

[2021-05-03 18:39] h9a2n3d5 commented on #180
You were right but it still doesn't work
![image](https://user-images.githubusercontent.com/83079007/116917793-1d44a880-ac1d-11eb-9624-94f9ef5bc3e2.png)
![image](https://user-images.githubusercontent.com/83079007/116917810-233a8980-ac1d-11eb-8372-7321aa188f23.png)
![image](https://user-images.githubusercontent.com/83079007/116917838-2df51e80-ac1d-11eb-83f1-6847c241076b.png)
![image](https://user-i

[2021-05-03 18:49] brianlball commented on #180
hmm, the run analysis response undefined is concerning.
try to stop the server and restart.
then run the "run analysis" command in a power shell window and add the --verbose --debug options like before.

[2021-05-03 19:25] brianlball commented on #180
similiar to what Tim posted in this issue https://github.com/NREL/OpenStudio-PAT/issues/169

[2021-05-04 15:13] h9a2n3d5 commented on #180
Here is the result of the command
![image](https://user-images.githubusercontent.com/83079007/117026337-b29d7680-acc9-11eb-8bba-b6946a2c04ca.png)
![image](https://user-images.githubusercontent.com/83079007/117026392-c052fc00-acc9-11eb-9e42-2b927dc7bbc1.png)

[2021-05-04 15:14] h9a2n3d5 commented on #180
I'm going to check on the on the issue you suggested

[2021-05-04 15:28] h9a2n3d5 commented on #180
On the other issue, tijcolem is talking about the logs file and this is what I got in mine
![image](https://user-images.githubusercontent.com/83079007/117028260-884cb880-accb-11eb-852a-8787fad1cc43.png)

I also checked in the data file and there's just a db empty file before I launch PAT

[2021-05-04 15:52] brianlball commented on #180
your CLI message look good. everything gets created.  do you see anything in the log files?

[2021-05-04 15:58] h9a2n3d5 commented on #180
which log file should I check ?

[2021-05-04 16:00] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/117033232-2a6e9f80-acd0-11eb-8b0b-f601a4a4b4a3.png)
![image](https://user-images.githubusercontent.com/83079007/117033260-335f7100-acd0-11eb-9a8d-5053fd028c8c.png)
![image](https://user-images.githubusercontent.com/83079007/117033296-3c504280-acd0-11eb-9f01-a0bcb0cb3aec.png)
![image](https://user-images.githubusercontent.com/83079007/1170

[2021-05-04 16:00] h9a2n3d5 commented on #180
![image](https://user-images.githubusercontent.com/83079007/117033447-5db12e80-acd0-11eb-9c94-699bdbcb2130.png)

[2021-05-04 17:23] brianlball commented on #180
I chatted with Tim and the consensus is that your hostname (which comes from PC name) is causing problems because of the umlaut.  "failed to obtain address information for hostname" in the above graphic.  Can you try to rename your PC to something like 'andre' and see if that helps?

https://www.cnet.com/how-to/how-to-change-your-computers-name-in-windows-10/

[2021-05-04 17:46] h9a2n3d5 commented on #180
It actually worked... the analysis started ! I thought it was ok because my file name was "andre" but I havent thought about my computer name .. this is so frustrating ahah. Thanks for your help and time !

But now every time a datapoint is created I get this error :
![image](https://user-images.githubusercontent.com/83079007/117046804-1f6f3b80-acdf-11eb-9daa-7418cd5f54a7.png)

[2021-05-04 17:48] h9a2n3d5 commented on #180
It does say on the localhost that the analysis is completed normal

[2021-05-04 17:49] brianlball commented on #180
yeah, we've never seen this type of error before.
Are you getting results now?

[2021-05-04 17:57] h9a2n3d5 commented on #180
Yes I get my OpenStudio results

[2021-05-04 18:12] tijcolem commented on #180
Just chiming in here. Glad you got it working.  Those last errors your showing are actually common.  The PAT client queries rails server to see if the data point is finished, and it doesn't exist yet, it throws a 422/404 error, which in this purpose just means the run hasn't finished yet and it'll collect the response on the next try.

[2021-05-04 18:16] h9a2n3d5 commented on #180
Ok thanks for the precision !
Big thank you for your help

[2021-05-04 18:16] #180 closed, assigned to nobody

[2021-05-05 22:06] LouYingli opened #184 "Some measures do not work in the PAT tool"
Issue overview
--------------
Some measures work well in the OpenStudio Application, but do not work in the PAT, for example, SetBoilerThermalEfficiency, and SetWaterHeaterEfficiencyHeatLossandPeakWaterFlowRate.

## Current Behavior
There is an error reminding in the PAT tool: !!!!*** This Measure is not Applicable to loaded Model. Read the description and choose an appropriate baseline model. ***

[2021-05-06 03:10] MatthewSteen commented on #56
FYI - I still had to `sudo apt install libgconf-2-4` for PAT v3.2.0 on Ubuntu 20.04.

[2021-05-07 14:28] tijcolem commented on #56
@MatthewSteen  Thanks for comment.  I clarified this in the 3.2. release notes but PAT doesn't support 20.04 out of the box, but you can install that missing package as you notes to get it work.

[2021-05-14 14:37] tijcolem commented on #172
closing due to inactivity. @snlavu If you are still experiencing problems, please re-open.

[2021-05-14 14:37] #172 closed, assigned to tijcolem

[2021-05-14 17:00] tijcolem commented on #118
We can expand on this in new k8s/helm at https://github.com/NREL/openstudio-server-helm/

[2021-05-14 17:00] #118 closed, assigned to nobody

[2021-05-15 18:17] MatthewSteen commented on #176
I've also noticed in PAT 3.1.0 that measure arguments in algorithmic mode cannot be blank even if they are optional, which is completely different behavior than the OpenStudio Application. The behavior should be the same so that users don't have to re-write measures just for PAT (I've had to do this several times).

For example, I wrote a measure that adds ZoneMixing to the model, which has severa

[2021-06-22 16:43] rwadhwa910 opened #186 "Not showing the error stopping the simulation"
When I am  trying to run a simulation, the system does not show as to what is stopping the simulation, although going to the console shows the error. Attached is the image which shows there is an error related to WWR measure but does not show that error in the app.

Windows 10
PAT 3.2.0

![PAT_Error](https://user-images.githubusercontent.com/63880759/122966476-fec27a00-d34e-11eb-8cba-8bc1b71927c7.

[2021-08-17 20:53] MatthewSteen opened #188 "Algorithmic Method setting values don't change when changing methods that have the same setting"
I've noticed in PAT 1.1 when changing algorithmic modes that share the same setting, the value from the first appears in the second even if it's not an option, which causes the run to fail.

Steps to reproduce.
1. Algorithmic Method = Morris (note Type = oat)
2. Algorithmic Method = Sobol (note Type = oat, which is not an option)

![image](https://user-images.githubusercontent.com/8397034/12979910

[2021-08-19 21:06] kflemin opened #189 "Remove AWS options from PAT"
AWS cluster connections are not longer supported in PAT.  Remove UI controls and underlying code, leaving Existing Remote Server option only.

[2021-08-23 15:19] kflemin commented on #174
this will no longer be an issue with the cloud options removed in the next release

[2021-08-23 19:13] kflemin commented on #171
@MatthewSteen cannot reproduce...pressing the ESC key closes the report window for me.

[2021-08-23 20:43] DavidGoldwasser commented on #186
@rwadhwa910 it seems like maybe there are two parts to this question.

1. An enhancement to PAT to have the errors or at least the relevant ones show up in the dialog without going to developer tools. That makes sense. If we can't get that to work maybe just update message to say to look in developer console with some guidance to open it)
2. The second part may be more specifically what is the wwr

[2021-08-24 16:25] kflemin commented on #184
@LouYingli, this is not a PAT issue, but an issue with the measures themselves.  I am not sure why they have that strange argument, but you can try to contact the PNNL group who made these measures.  Or you can try to modify them yourself and include them in your local 'MyMeasures' directory.

[2021-08-24 16:25] #184 closed, assigned to nobody

[2021-08-24 16:48] #186 closed, assigned to nobody

[2021-08-24 16:53] rwadhwa910 commented on #186
@DavidGoldwasser  I agree with you one can go into the developer's tool and look for the error, but I believe for a new beginner I think it will be difficult to see what is the error, that's why it would be great if the error shows on the screen. Also I was able to run this model by doing the changes. Thanks!

[2021-08-25 14:50] MatthewSteen commented on #171
Fixed in 3.2.0.

[2021-08-25 14:50] #171 closed, assigned to nobody

[2021-09-09 17:22] craigers290 opened #191 "PAT Default Inputs "0" for Double Argument"
I am using a measure that includes a Double argument that has special behavior for a blank value. I've set the default within the measure to "" for a blank default.

`arg.setDefaultValue("")`

However, when it comes into PAT, it shows up as  `"inputs": { "default_value": 0}`. The resulting behavior is that if I delete the "0" value and save in the PAT GUI, the pat.json reflects `"inputs": { "defau

[2021-09-13 20:29] #121 closed, assigned to nobody

[2021-09-13 20:29] #174 closed, assigned to nobody

[2021-09-13 20:29] #176 closed, assigned to nobody

[2021-09-13 20:29] #188 closed, assigned to nobody

[2021-09-13 20:29] #189 closed, assigned to nobody

[2022-01-21 09:58] jmarrec opened #197 "[Enhancement] Bump node from v8 to v18 LTS (and therefore bump packages too)"
https://github.com/NREL/OpenStudio-PAT/blob/ee3c6c44156d9409d876f12115e681022cafb21b/package.json#L71-L73

Node v16 is the current LTS version.

Node.js 8 was initially released on 2017-05-30, and its End-of-Life was 31st December 2019, so it's been EOL since more than 2 years.

**Sub Task Issues**
- [x] #211
- [x] #212
- [x] #213
- [x] #214
- [x] #215
- [x] #216
- [x] #217
- [x] #221

[2022-01-22 00:16] LyleKeck commented on #119
Is there any way to get hourly results file back from the PAT now (using 3.1.0 currently)?  We also used to grab and copy all the SQL files from previous PAT versions for post-processing analysis.  Is it possible to get SQL file or eplusmtr CSV to save for the PAT runs?

[2022-02-04 17:45] tijcolem opened #198 "Update PAT to use latest version of node"

[2022-02-17 16:45] DavidGoldwasser opened #200 "PAT version unknown on mac"
This is related to a prior fixed issue #20. In the application, the `About` menu knows shows the correct version, but if I have multiple PAT apps on my computer (which I often do) the version that shows there shows as `Unknown version`. This is of very low importance, but if there is a way for the version to make it through there, it would be nice. My work around is to either use the date to ident

[2022-04-08 15:24] tijcolem commented on #198
Closing as #197 is duplicate.

[2022-04-08 15:24] #198 closed, assigned to axelstudios

[2022-06-19 09:59] ruggieroguida opened #209 "PAT fails as soon as the analysis starts"
[code]
I receive this error when trying to run a simple analysis in PAT with the meausure `Increase R-value of Insulation for Exterior Walls By a Specified Percentage`. It seems that the simulations do not even start.

<img width="702" alt="image" src="https://user-images.githubusercontent.com/8143193/174475406-aff7c0b6-468a-479c-8b6d-98efab24ebc3.png">

The measure works if applied directly to th

[2022-06-25 09:47] ruggieroguida commented on #209
Just in case someone has the same problem. It seems that the library `libintl.8.dylib` was missing from the PAT application in `/Applications/ParametricAnalysisTool-3.4.0/ParametricAnalysisTool.app/Contents/Resources/openstudio/EnergyPlus/`.

I copied it from the main E+ folder with

`cp /Applications/EnergyPlus-22-1-0/libintl.8.dylib /Applications/ParametricAnalysisTool-3.4.0/ParametricAnalysisTo

[2022-06-30 04:39] macabilo2 commented on #169
I have a similar situation where I cannot start the PAT local server. I tried the suggestion by @tijcolem and executed the command via CL. After waiting for a while, it prompts that Rails failed to launch.

In the rails.log, this is shown:
`D:\Program Files\ParametricAnalysisTool-3.4.0\pat\ruby\bin\ruby.exe: invalid switch in RUBYOPT: -F (RuntimeError)`

I attached both the mongo and rails log fil

[2022-06-30 04:49] macabilo2 commented on #169
Furthermore, here is a verbose output of the same command:

[test_start.log](https://github.com/NREL/OpenStudio-PAT/files/9016465/test_start.log)

[2022-06-30 12:44] brianlball commented on #169
@planetwsn try installing PAT in a directory without any spaces in the path name.  I think the "Program Files" is causing a problem.

[2022-07-01 11:20] macabilo2 commented on #169
@brianlball  Thanks a lot! It worked like a charm.

[2022-07-01 12:32] brianlball commented on #169
@planetwsn, glad it worked. also check out unmethours.com, its a good resource for BEM related issues.

[2022-07-01 12:32] #169 closed, assigned to nobody

[2022-07-29 16:02] tijcolem commented on #197
@bstein We can keep this as the top level ticket. Please open new GitHub sub task issues related to this update.

[2022-07-29 18:07] bstein opened #211 "Upgrade gulp to v4"
**~3.9.1 → ~4.0.2**
Required for Node v18 (#197)

gulp v3 does not support Node v12+ (see https://github.com/gulpjs/gulp/issues/2324). The following error is given when attempting to run gulp v3 with Node v18: `ReferenceError: primordials is not defined`

[2022-07-29 18:16] bstein opened #212 "Upgrade gulp-sass to v5 & replace node-sass with sass"
**~3.1.0 → ~5.1.0**
Required for Node v18 (#197)

gulp-sass v3 uses [node-sass](https://www.npmjs.com/package/node-sass) as the default Sass compiler, which [is deprecated](https://sass-lang.com/blog/libsass-is-deprecated) and does not support Node v18. The authors recommend using dart [sass](https://www.npmjs.com/package/sass) as a replacement.

gulp-sass v5 supports Node v12+ and allows setting

[2022-07-29 18:22] bstein opened #213 "Upgrade vinyl-source-stream to v2"
**^1.1.0 → ~2.0.0**
Required for Node v18 (https://github.com/NREL/OpenStudio-PAT/issues/197)

The following error is given when attempting to run the install-deps gulp task with vinyl-source-stream v1 and Node v18: `` Error: Received a non-Vinyl object in `dest()` ``

[2022-07-29 18:48] bstein opened #214 "Upgrade browser-sync to v2.27.10"
**~2.13.0 → ~2.27.10**
Required for Node v18 (#197)

The following warning is printed when when attempting to use browser-sync v2.13.0 with Node v18:
<code>(node:89870) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated</code>
<code>&nbsp;&nbsp;&nbsp;&nbsp;at SendStream.isFresh (/Users/baileystein/OpenStudio-PAT/node_modules/send/index.js:372:43)</code>
<code>&nbsp;&nbs

[2022-07-29 21:16] tijcolem commented on #209
@ruggieroguida Thanks for reporting this and posting the workaround. I updated the 3.4.0 PAT release installer for MacOS to fix this.

[2022-07-29 21:16] #209 closed, assigned to tijcolem

[2022-08-01 14:08] bstein opened #215 "Upgrade asar to v3"
**~0.10.0 → ~3.2.0**
Required for Node v18 (https://github.com/NREL/OpenStudio-PAT/issues/197)

asar@0.10.0 has downstream dependencies of graceful-fs@3.0.11, which does not support Node v18. The following warning is printed when running `npm i`: `npm WARN deprecated graceful-fs@3.0.11: please upgrade to graceful-fs 4 for compatibility with current and future versions of Node.js`

After upgrading

[2022-08-01 14:21] bstein opened #216 "Upgrade main-bower-files to v2.13.3"
**~2.11.1 → ~2.13.3**
Required for Node v18 (https://github.com/NREL/OpenStudio-PAT/issues/197)

main-bower-files@2.13.3 depends on vinyl-fs@1.0.0, which depends on graceful-fs@3.0.12 and has a downstream dependency of graceful-fs@1.2.3. As explained in #215, versions of graceful-fs prior to v4 do not support Node v18.

[2022-08-01 14:54] bstein opened #217 "Remove karma packages"
Required for Node v18 (https://github.com/NREL/OpenStudio-PAT/issues/197)

karma@0.13.22 does not support Node v18. The following warning is printed to the console:
<code>npm WARN EBADENGINE Unsupported engine {</code>
<code>npm WARN EBADENGINE &nbsp;&nbsp;package: 'karma@0.13.22',</code>
<code>npm WARN EBADENGINE &nbsp;&nbsp;required: { node: '0.10 || 0.12 || 4 || 5' },</code>
<code>npm WARN EBAD

[2022-08-03 11:50] bstein opened #219 "Upgrade electron to latest version (v20)"
**^1.7.11 → ~20.0.3**

This issue tracks the work of upgrading to the latest version of electron. The project should be updated one major version at a time (eg, v1 to v2 to v3 etc). For each major version update, any [breaking changes](https://www.electronjs.org/docs/latest/breaking-changes) should be fixed and the application should be tested.

### Relevant Breaking Changes by Version

- [x] **v2

[2022-08-03 15:42] bstein opened #220 "Update README with build instructions"
Somewhat similar to [the documentation](https://github.com/NREL/EnergyPlus/wiki/Building-EnergyPlus) for building EnergyPlus

[2022-08-05 20:27] bstein opened #221 "Replace gulp-decompress with tar-fs"
Previously, we were using `gulp-decompress@2.0.1` and [while upgrading](https://github.com/NREL/OpenStudio-PAT/pull/218#issuecomment-1206793175) to Node v18 (#197), I discovered there was a bug where symbolic links / "aliases" are incorrectly decompressed as empty executable files.

Although `gulp-decompress@2.0.3` fixed this particular issue, the upgrade caused a new issue when running on Windows

[2022-08-12 16:55] tijcolem commented on #175
@MatthewSteen I think this is should be moved to the https://github.com/openstudiocoalition/OpenStudioApplication repo? I'm going to close but you can reopen if you feel otherwise.

[2022-08-15 15:22] MatthewSteen commented on #175
@tijcolem `CTRL+SHIFT+S` was added to the App https://github.com/openstudiocoalition/OpenStudioApplication/issues/315, but is still missing from PAT 3.4.0. I don't think the App and PAT share code, so this should probably stay open.

 ![image](https://user-images.githubusercontent.com/8397034/184666778-db2fb9bb-5771-4ee7-a4dd-62a68d281716.png)

Looks like it just a needs a line here https://github

[2022-08-15 17:10] tijcolem commented on #175
@MatthewSteen Okay, yes this is still relevant. I added you to the repo. If you know where this can be added in the code please feel free to add and open a pull request.

[2022-08-18 15:58] #197 closed, assigned to bstein

[2022-08-18 15:58] #211 closed, assigned to bstein

[2022-08-18 15:58] #212 closed, assigned to bstein

[2022-08-18 15:59] #213 closed, assigned to bstein

[2022-08-18 15:59] #214 closed, assigned to bstein

[2022-08-18 15:59] #215 closed, assigned to bstein

[2022-08-18 15:59] #216 closed, assigned to bstein

[2022-08-18 15:59] #217 closed, assigned to bstein

[2022-08-18 15:59] #220 closed, assigned to bstein

[2022-08-18 15:59] #221 closed, assigned to bstein

[2022-08-18 16:09] bstein opened #222 "Replace bower with npm"
Currently, `bower` is being used for some dependencies. However, `bower` is deprecated and should be removed. This will happen in three phases.

**Phase 1: Use `npm` to manage the dependencies currently being handled by `bower`**
- Go through the list of dependencies currently listed in `bower.json`
- For each dependency,
    - Find the same dependency published on `npm` (some have different names

[2022-08-30 16:35] bstein opened #225 "Upgrade all dependencies to latest stable version"
This issue tracks the work of upgrading each dependency to its latest stable version.

### Phase 1 - Upgrade most `package.json` dependencies
- [x] ⏫ **[chalk](https://www.npmjs.com/package/chalk): ~1.1.0 → ~5.0.1**
- [x] ⏫ **[del](https://www.npmjs.com/package/del): ~2.2.0 → ~7.0.0**
- **[v7.0.0](https://github.com/sindresorhus/del/releases/tag/v7.0.0):** Package became pure ESM
    - [x] Use asy

[2022-08-30 18:51] #219 closed, assigned to bstein

[2022-09-14 18:05] #222 closed, assigned to bstein

[2022-09-15 22:50] #225 closed, assigned to bstein

[2022-09-21 15:16] bstein opened #230 "Write E2E tests using Playwright"
This issue tracks the work of adding [Playwright](https://playwright.dev/) and writing some E2E tests.

**Resources:**
- **[Testing Electron Apps with Playwright — Kubeshop](https://medium.com/kubeshop-i/testing-electron-apps-with-playwright-kubeshop-839ff27cf376)** - approach for mocking file picker dialog
- https://github.com/microsoft/playwright/issues/2632#issuecomment-769566282 - approach for

[2022-09-29 19:15] luisclv commented on #119
Having a similar issue in 2022! This is a large model (and produces 167.4 MB files), but disk space is cheap. I would like to have the option to keep the SQL files in the local results if possible (downloading such large files from the cloud can be a bottleneck).

[2022-10-05 16:14] bstein opened #231 "Fix Outputs page grid"
After upgrading [angular-ui-grid](https://www.npmjs.com/package/angular-ui-grid) in issue #225 with PR #228, the table does not appear correctly on the Outputs page when the analysis mode is set to "Algorithmic", as shown in this screenshot:

![broken-ui-grid](https://user-images.githubusercontent.com/6434784/194109473-f847429c-0fb9-4162-9dfa-3b86678df303.png)

The reason for this is that the styl

[2022-10-05 21:19] tijcolem commented on #231
@bstein Good catch!

[2022-10-05 21:50] #231 closed, assigned to bstein

[2022-10-27 22:02] tijcolem opened #235 "cpack error when generating Windows installer"
@bstein Looks like this is still an issue when generating windows packages. Maybe it was when the CI runner was upgraded from 2019 to 2022?  Take a look at this line here: https://github.com/NREL/OpenStudio-PAT/actions/runs/3340691973/jobs/5531082030#step:6:160. It's annoying this doesn't throw an error in the build. Maybe I can add a second step to verify the contents after.

I think this was rel

[2022-10-27 22:10] tijcolem commented on #235
2022 did work. This was a working build looking back in the history.  https://github.com/NREL/OpenStudio-PAT/actions/runs/2862855047/jobs/4539303058

[2022-10-27 22:24] tijcolem commented on #235
More digging.

Last good windows cpack build:
https://github.com/NREL/OpenStudio-PAT/actions/runs/2905293794/jobs/4624071734
Commit: https://github.com/NREL/OpenStudio-PAT/commit/89155fca13601fe40ab1f4226d34b433f4cb5653

I think this may have broke it
https://github.com/NREL/OpenStudio-PAT/actions/runs/2949170660/jobs/4712386755
Commit: https://github.com/NREL/OpenStudio-PAT/commit/7942b2391d0f82f

[2022-10-28 03:35] tijcolem commented on #235
A little more info. This commit here   https://github.com/NREL/OpenStudio-PAT/commit/70bce19ec128d2b7b37518ccc1652c7f5af61a7f built fine on Aug 19 in 35m 15s. I replayed this exact same commit just now using the same workflow and it failed.  Smells like a version change caused something to break.

Succeeded ( Aug 19 in 35m 15s):  https://github.com/NREL/OpenStudio-PAT/actions/runs/2891652196/jobs/

[2022-10-28 13:05] bstein commented on #235
@tijcolem I created the branch [`fix-cpack-error-windows`](https://github.com/NREL/OpenStudio-PAT/tree/fix-cpack-error-windows) to work on this

[2022-10-28 13:34] tijcolem commented on #235
Thanks @bstein for looking into this!

[2022-10-28 13:57] bstein commented on #235
@tijcolem Of course! Fortunately, this was a straightforward issue where Windows wouldn't run the `./node_modules/.bin/gulp` executable. The workaround is to use `npx gulp` instead, which is functionally the same.

I have opened a PR for the fix: #236

[2022-10-28 15:48] tijcolem opened #237 "GitHub Action Fail on Windows if pat.exe is not included in installer"
This is related to this problem here https://github.com/NREL/OpenStudio-PAT/issues/235

On Windows cpack threw an error but GitHub Action checks was green. Make this step fail of not successful.

[2022-10-28 15:49] #235 closed, assigned to bstein

[2022-11-02 19:49] tijcolem commented on #237
closed via #235

[2022-11-02 19:49] #237 closed, assigned to tijcolem

[2022-11-08 21:10] tijcolem opened #239 "Netsh rules in Windows SDK"
Test to see if these rules are needed in OS SDK https://github.com/NREL/OpenStudio/blob/develop/src/install_utility/main.cpp#L115 and consider moving logic here if that makes more sense.